@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--whishlistSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="padding: 30px 0px -50px 0px;">
            <div class="col-12 text-center mb-4 mt-4">
                <h1 class="sectionmainheading">WHISHLIST</h1>
            </div>
            <div id="toast"></div>
            <div id="toast-cart"></div>
            <div class="container">
                <br>
                <div class="row d-flex justify-content-center" style="margin: 0px 0px 70px 0px;">
                    @if (Model.Wishlists.Count > 0)
                    {
                        @foreach (var wishlist in Model.Wishlists)
                        {
                            <div class="col-12 col-md-6 col-lg-3  wishlistcardmob">
                                <div class="whishlistcard" style="width: 16rem;">
                                    <span id="heart-third" class="whishlistcardheart">
                                        <i onclick="wishList()"
                                           class="fas fa-trash-alt text-center" style="margin-top: 10px;"></i>
                                    </span>
                                    <img src="@wishlist.CoverImage" class="first-image whishlistcardheart-first-image">
                                    <div class="whishlistcard-body mb-3">
                                        <a href="#" onclick="addCart()">
                                            <p><i class="fa-solid fa-cart-shopping fa-shake"></i> Move To Bag</p>
                                        </a>

                                        <p class="card-title font-weight-bold m-0 product_name_Over">
                                            @wishlist.ProductName
                                        </p>
                                        <p class="font-weight-bold m-0">
                                            ₹@wishlist.Price <span class="text-decoration-line-through"
                                                                   style="color: darkgrey;">₹@wishlist.OldPrice</span> <span class="ml-1 text-success">
                                                                    40%
                                                                    off
                                                                </span>
                                                            </p>
                                                            <p class="m-0">Size: <span class="font-weight-bold">Medium</span></p>
                                                            <p class="m-0">Color: <span class="font-weight-bold">Pink</span></p>
                                                            <button type="button" class="buttonwishlistalignment" onclick="addCart()">
                                                                <i class="fa-solid fa-cart-shopping fa-shake"></i> Move To Bag
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }}
                </div>

            </div>

        </div>
    </div>
</section>
<!--whishlistSection-end-->
