@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    @foreach (var wishlist in Model.AllCategories)
    {
        <div class="col-md-3 col-sm-6 col-12">
            <div class="wishlist-box">
                <div class="wish-image">
                    <a asp-action="AllProducts" asp-controller="Home" asp-route-CategoryId="@wishlist.ID" name="categorylink">
                        <img style="height:244px;width:250px" loading="lazy" src="@Url.Content("~")@wishlist.Icons" alt="icon">
                    </a>
                </div>
                <div class="wishlisst-info ">
                    <p>@wishlist.NAME</p>
                </div>
            </div>
        </div>
    }
</div>
