@model Shoppite.Application.Models.MainModel
@foreach (var image in Model.BottomBanner)
{
    <div class="col-md-6">
        <a href="#"><img src="@Url.Content("~")@image.Image" alt="slider image" /></a>
    </div>
}

