@*@model IEnumerable<Shoppite.Application.Models.CategoryMasterModel>
<a class="title" href="shop-grid.html"><span>Laptop</span></a>
@if (Model != null)
{

    @foreach (var item in Model)
    {
        <a href="#"><span>@item.CategoryName</span></a>
    }
}


<a href="#"><span>bjhv</span></a>*@