@model Shoppite.Application.Models.MainModel
@foreach (var image in Model.HorizontalBanner)
{
    <div class="tab-contant-static-image">
        <a href="#"><img style="width:940px;height:109px;" src="@Url.Content("~")@image.Image" alt="Static image"></a>
    </div>
}