@model Shoppite.Application.Models.MainModel

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .responsive {
            height: auto;
        }

    </style>
@foreach (var image in Model.MiddelBanner)
{
    <div class="col-6">
        <div class="shrink image">
            <a href=""><img src="@image.Image"  class="rounded-3 responsive img-fluid" alt="slider image" /></a>
        </div>
    </div>
}

