@model Shoppite.Application.Models.MainModel
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .responsive {
        height: auto;
    }
</style>
@if (Model.MiddelBanner != null)
{
    @foreach (var image in Model.MiddelBanner.TakeLast(2))
    {
        if (Model.MiddelBanner.Count == 2)
        {
            <div class="col-md-6">
                <div class="shrink image">
                    <a  asp-action="AllProducts" asp-route-CategoryId="@image.CategoryId"><img src="@image.Image" loading="lazy" class="rounded-2 mt-2 responsive img-fluid lazy" alt="slider image" /></a>
                </div>
            </div>
        }
    }
}

