@model Shoppite.Application.Models.MainModel
<div id="content" class="tabandcarosel-area">
    <div class="container">
        <div class="tab-product-wrap">
            <div class="col-lg-4 col-md-4 resswiper justify-content-center" style="margin:0px 0px -20px 0px;height:100px;">
                <div class="swiper mySwiper" style="margin:0px 0px 25px 0px ">
                    <div class="swiper-wrapper">
                        @foreach (var Cat in Model.GetSp_Getcat_ResultModel.Where(x=>x.IsPublished == true && x.IsShowHomePage == true).Take(5))
                        {
                            int X = (int)Cat.ID;
                            <div class="swiper-slide"><a onclick="testajaxcall('@X')" data-toggle="tab" name="CatName" class="" style="letter-spacing:0.5px;font-weight:600;font-size:25px;">@Cat.NAME</a></div>
                        }
                    </div>
                    <div class="swiper-button-next" style="font-weight:500;width:50px;" onclick="document.querySelector('.swiper-slide-next a').click();"><i class="fa-solid fa-chevron-right"></i></div>
                    <div class="swiper-button-prev" style="font-weight:500;width:50px;" onclick="document.querySelector('.swiper-slide-prev a').click();"><i class="fa-solid fa-chevron-left"></i></div>
                </div>
            </div>
            <div class="row">
                @if (Model.LeftBanner.Count != 0) {<div class="col-lg-3 col-md-2">
    @await Html.PartialAsync("_LeftBanner")
</div> }
                <div class="col-lg-3 col-md-3 resmenu">

                    <div class="tab-menu-area toplist" id="myDIV">
                        <ul id="tabs" class="nav nav-tabs tab_cates text-nowrap flex-container" data-tabs="tabs">

                            <li class="shadow CatLI">
                                @foreach (var Cat in Model.GetSp_Getcat_ResultModel.Where(x => x.IsPublished == true && x.IsShowHomePage == true).Take(5))
                                {
                                    int X = (int)Cat.ID;
                                    <a onclick="testajaxcall('@X')" data-toggle="tab" name="CatName" class="" style=" white-space:nowrap; ">
                                        <label class="name font-weight-bold">@Cat.NAME</label>
                                    </a>
                                }
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="new-product-area">
                        <div class="container">
                            <div class="pt-3 overflow-hidden">
                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper d-flex d-flex-inline " id="prodtabdata">
                                        <!--Here dynamically add product as per category via ajax in script-->
                                    </div>
                                    <div class="swiper-button-next"> <i class="fa fa-angle-right"></i> </div>
                                    <div class="swiper-button-prev"> <i class="fa fa-angle-left"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End category product and carosel area -->
