@model Shoppite.Application.Models.MainModel
<li>
    <span><input type="checkbox" class="checkbox"></span>
    @foreach (var attr in Model.Attributes)
    {
        <label>
            <a href="">@attr.AttributeName<span>(2)</span></a>
        </label>
    }
</li>