@model Shoppite.Application.Models.MainModel

@if (Model.TopBanner != null)
{
    @foreach (var image in Model.TopBanner.Take(4))
    {
        <a asp-action="AllProducts" asp-route-CategoryId="@image.CategoryId"><img src="@image.Banner" alt="slider image" /></a>
    }

}

