@model Shoppite.Application.Models.MainModel
@if (Model.TopBanner.Count == 0)
{
    @if (Model.BannersByCategory != null)
    {
        @foreach (var image in Model.BannersByCategory)
        {
            if (image.Banner != null)
            {
                <a asp-action="AllProducts" asp-route-CategoryId="@image.CategoryId"><img src="@image.Banner" alt="slider image" class="rounded-3" /></a>
            }
        }

    }
}
else
{
    @if (Model.TopBanner != null)
    {
        @foreach (var image in Model.TopBanner)
        {
            if (image.Image != null)
            {
                <a><img src="@image.Image" alt="slider image" class="rounded-3" /></a>
            }
        }

    }
}


