@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start mega menu area -->
<div class="megamenu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="megamenu">
                    <nav>
                        <ul>
                            <li>
                                <a class="home" asp-action="Index">Home</a>
                                <div class="megamenudown-mini home-ve">
                                    <div class="mega-top">
                                        <div class="mega-item-menu">
                                            <a class="title" href="#"><span>Home variyation</span></a>
                                            <a href="index-2.html"><span>Home2</span></a>
                                            <a href="index-3.html"><span>Home3</span></a>
                                            <a href="index-4.html"><span>Home4</span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @await Html.PartialAsync("_Categories", Model)
                            @await Html.PartialAsync("_MoreCategories", Model)
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search-box">
                    <form method="get" action="#" id="searchbox-eleyas">
                        <p>
                            <input type="text" value="" placeholder="You keyword..." name="search_query">
                            <button class="button-search" name="submit_search" type="submit">
                                <span><i class="fa fa-search"></i></span>
                            </button>
                        </p>
                    </form>
                </div>
            </div>
            <div class="col-md-1">
                <div class="megamenu">
                    <nav>
                        <ul>
                            <li>
                                <div class="user-icon">
                                    <i class="fa fa-user"></i>
                                    <div class="megamenudown-mini home-ve">
                                        <div class="mega-top">
                                            <div class="mega-item-menu">
                                                <a asp-controller="MyAccount" asp-action="myAccount"><span>My account</span></a>
                                                <a asp-controller="Orders" asp-action="MyOrders"><span>My Order</span></a>
                                                <a asp-controller="Wishlist" asp-action="Wishlist"><span>My wishlist</span></a>
                                                <a href="#"><span>Sign in</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="slider-area">
    <div class="container">
        <div class="slider">
            <div id="container">
                <!-- Nivo slider Demo 35 -->
                <div id="NivosliderD35oo slider-gray-bg">
                    <div class="nivoSlider">
                        @await Html.PartialAsync("_TopBanner", Model)
                        @* <img src="img/slider/3.jpg" alt="slider image">
                            <img src="img/slider/5.jpg" alt="slider image">*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="baner-area">
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_MiddelBanner", Model)
        </div>
    </div>
</div>
<!-- End baner area -->

@await Html.PartialAsync("_ProductWithCatId")
@await Html.PartialAsync("_ProductWithStatusId")
@await Html.PartialAsync("_BrandZone")
@Html.Partial("_GetRecentProduct")




