@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider-area">
    <div class="container">
        <div class="slider">
            <div id="container">
                <!-- Nivo slider Demo 35 -->
                <div id="NivosliderD35oo slider-gray-bg">
                    <div class="nivoSlider theme-default">
                        @await Html.PartialAsync("_TopBanner", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-4">
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_MiddelBanner", Model)
        </div>
    </div>
</div>
<!-- End baner area -->

@await Html.PartialAsync("_ProductWithCatId")
@await Html.PartialAsync("_ProductWithStatusId")
@await Html.PartialAsync("_GetRecentProduct")
@await Html.PartialAsync("_BottomBanner")
@await Html.PartialAsync("_BrandZone")

@section scripts
{
    <script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 20,
        //freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 20
            },
            576: {
                slidesPerView: 2,
                spaceBetween: 20
          },
            768: {
                slidesPerView: 2,
                spaceBetween: 20
          },
            992: {
                slidesPerView: 3,
                spaceBetween: 20
            }
        }
    });

    function testajaxcall(id)
    {
        //debugger;
        var prod_Div = '';
        var ProdAry = [];

            $.ajax({
                type: "GET",
                url: '@Url.Action("Get_Product_By_Cat", "Home")',
                dataType: 'JSON',
                data: { "ID": id },
                contentType: "application/json",
                success: function(result)
                {

                    for (var i = 0; i < result.length; i++) {

                        prod_Div = '<div class="swiper-slide">';
                        prod_Div += '<div class="product-item" >';
                        prod_Div += '<div class="top-item"> <div class="img-hover-zoom">';
                        prod_Div += '<a href="/ProductDetail/Details/' + result[i].productGUID + '" class="product_Images" > ';
                        prod_Div += '<img src="' + result[i].image + '" alt="' + result[i].productName + '" />';
                        prod_Div += '</a> </div>';
                        prod_Div += '</div>';
                        prod_Div += '<div class="bottom-item">';
                        prod_Div += '<div class="product-info">';
                        prod_Div += '<h5><a href="/ProductDetail/Details/' + result[i].productGUID + '" class="product_name_Over" style="width:170px;" id="ProductName">' + result[i].productName + '</a></h5>';
                        if (result[i].oldPrice != null) {
                            prod_Div += '<span>' + '₹' + result[i].price + '&nbsp;&nbsp;<del id="Old_Price">₹' + result[i].oldPrice + '</del></span>';
                        } else {
                            prod_Div += '<span>' + '₹' + result[i].price +'</span>';
                        }
                        prod_Div += '<p>';
                        prod_Div += '</p>';
                        prod_Div += '</div>';
                        prod_Div += '</div>';
                        prod_Div += '</div>';
                        prod_Div += '</div>';
                        var resetdiv = prod_Div;
                        ProdAry.push(resetdiv);
                    }
                    $("#prodtabdata").html(ProdAry.join(''));

                    if (ProdAry.length == 0) {
                        $("#prodtabdata").html('<img class="" style="margin-top: 3.6pc;" src="/img/no-product-found.jpg" alt="NoProductFound" />');
                    }

                },
                error: function (xhr, status, error)
                {
                    alert(xhr.responseText);
                }
            })

    };

    window.onload = function () {
        document.getElementsByName("CatName")[0].click();
    };

    var links = document.querySelectorAll('.toplist ul li a');
    links.forEach(function (element) {
        element.addEventListener('click', function (e) {
            // PreventDefault to prevent redirect
            e.preventDefault();
            links.forEach(function (element) {
                element.classList.remove('active');
            });
            this.classList.add('active');
        });
    });
    </script>
}
