@model Shoppite.Application.Models.MainModel
@await Html.PartialAsync("_TopBanner", Model)
<!--gifbannerSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="padding: 30px 0px -50px 0px;">

            <div class="col-12 col-lg-12 col-md-12 mt-4 ">
                <img class="offerbennertop" src="~/img/discount.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
        </div>
    </div>
</section>
<!--gifbannerSection-end-->
<!--dealSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="margin: 0px 0px 65px 0px;">
            <div class="col-12 headingframalignment ">
                <div class="headingfram mt-4 mb-4">
                    <h1 class="sectionmainheading">DEAL OF THE DAY</h1>
                    <p class="fw-bolder sectionsubheading">Grab these before they're gone</p>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center mt-4 mb-4" style="z-index: 0;">
                <article class="card card--1" style="width: 250px; border-radius: 12px;">
                    <div class="card__img"></div>
                    <a href="#" class="card_link">
                        <div class="card__img--hover"></div>
                    </a>
                    <div class="card__info">
                        <span class="card__category"> Travel</span>
                        <h3 class="card__title">Work-Ready Shoes</h3>
                        <span class="card__category"> Min.30% off</span>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center mt-4 mb-4" style="z-index: 0;">
                <article class="card card--2" style="width: 250px; border-radius: 12px;">
                    <div class="card__img"></div>
                    <a href="#" class="card_link">
                        <div class="card__img--hover"></div>
                    </a>
                    <div class="card__info">
                        <span class="card__category"> Travel</span>
                        <h3 class="card__title">casual shirts</h3>
                        <span class="card__category"> Up To.50% off</span>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center mt-4 mb-4" style="z-index: 0;">
                <article class="card card--3" style="width: 250px; border-radius: 12px;">
                    <div class="card__img"></div>
                    <a href="#" class="card_link">
                        <div class="card__img--hover"></div>
                    </a>
                    <div class="card__info">
                        <span class="card__category"> Travel</span>
                        <h3 class="card__title">Dresses</h3>
                        <span class="card__category"> Flat.20% off</span>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center mt-4 mb-4" style="z-index: 0;">
                <article class="card card--4" style="width: 250px; border-radius: 12px;">
                    <div class="card__img"></div>
                    <a href="#" class="card_link">
                        <div class="card__img--hover"></div>
                    </a>
                    <div class="card__info">
                        <span class="card__category"> Travel</span>
                        <h3 class="card__title">Tops</h3>
                        <span class="card__category">Flat.40% off</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--dealSection-end-->
<!--categorySection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid sectionbg">
        <div class="row sectionrow mt-4 ">
            <div class="col-12">
                <h1 class="sectionmainheading" style="margin: 50px 0px 0px 0px;">CATEGORIES TO BROWSE</h1>
                <p class="fw-bolder sectionsubheading">There's something here for everyone</p>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-2">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/Isolated_white_t-shirt_front-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">T-Shirts</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/green-plaid-shirt-with-black-stripe-front_874909-885-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Shirts</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/portrait-female-legs-jeans__1_-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Jeans</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/man-wearing-brown-pants-close-up__1_-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Trousers</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/NicePng_kurti-png_2603242.png" class="cardimg" style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Kurtas</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/pngimg.com - dress_PNG135.png" class="cardimg" style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Dresses</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/young-indian-woman-wearing-sari__1___1_-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Sarees</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/new-black-sneakers-isolated-white-background-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Shoes</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/portrait-happy-woman-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Tops</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/beautiful-elegance-luxury-fashion-green-handbag-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Handbag</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/closeup-shot-golden-watch-isolated-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Watches</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-3 mt-4">
                <div class="centeri">
                    <div class="cardmain">
                        <img src="~/img/Necklace-Jewellery-PNG-Clipart__1_-removebg-preview.png" class="cardimg"
                             style="width: auto; height: 100px;">
                        <p class="sectioncetegory">Jewellery</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--categorySection-end-->
<!--toppicksSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="margin: 0px 0px 65px 0px;">
            <div class="col-12 headingframalignment ">
                <div class="headingfram mt-4 mb-4">
                    <h1 class="sectionmainheading">TOP PICKS</h1>
                    <p class="fw-bolder sectionsubheading">Exclusive deals you must bag </p>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-md-12" style="margin: 30px 0px -50px 0px;">
                <div class="slider" id="slider">
                    <div class="slide" id="slide">
                        <img class="item" src="~/img/topdeals1.webp">
                        <img class="item" src="~/img/topdeals2.webp">
                        <img class="item" src="~/img/topdeals3.webp">
                        <img class="item" src="~/img/topdeals4.webp">
                        <img class="item" src="~/img/topdeals5.webp">
                        <img class="item" src="~/img/topdeals6.webp">
                        <img class="item" src="~/img/topdeals7.webp">
                        <img class="item" src="~/img/topdeals8.webp">
                        <img class="item" src="~/img/topdeals9.webp">
                        <img class="item" src="~/img/topdeals10.webp">
                        <img class="item" src="~/img/topdeals11.webp">
                        <img class="item" src="~/img/topdeals12.webp">
                    </div>
                    <button class="ctrl-btn pro-prev"><i class="fa-solid fa-less-than" style="font-weight: 700;"></i></button>
                    <button class="ctrl-btn pro-next">
                        <i class="fa-solid fa-greater-than"
                           style="font-weight: 700;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--toppicksSection-end-->
<!--gifbannerSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="padding: 30px 0px -50px 0px;">
            <div class="col-12 col-lg-6 col-md-12 mt-4">
                <img src="~/img/deal_2.png" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
            <div class="col-12 col-lg-6 col-md-12 mt-4">
                <img src="~/img/deal_1630.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
            <div class="col-12 col-lg-12 col-md-12 mt-4">
                <img src="~/img/boy_try_1.png" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
        </div>
    </div>
</section>
<!--gifbannerSection-end-->
<!--featuredbrandSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="margin: 0px 0px 50px 0px;">
            <div class="col-12 headingframalignment ">
                <div class="headingfram mt-4 mb-4">
                    <h1 class="sectionmainheading">DEALS ON FEATURED BRANDS</h1>
                    <p class="fw-bolder sectionsubheading">Show Some love to your favourite labels</p>
                </div>
            </div>
            <section class="carouselbrand">

                <div class="carousel__containerbrand">
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/MP000000014418187_437Wx649H_202209102252341.jpeg"
                             alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">ARMANI EXCHANGE</h5>
                            <h6 class="carousel-item__details--subtitlebrand">STARTING AT ₹ 5997</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/allen.png" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">ALLEN SOLLY</h5>
                            <h6 class="carousel-item__details--subtitlebrand">UP TO 50% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/uspolo.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">U.S.POLO ASSN</h5>
                            <h6 class="carousel-item__details--subtitlebrand">MIN. 30% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/soch.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">SOCH</h5>
                            <h6 class="carousel-item__details--subtitlebrand">MIN. 50% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/calvin.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">CALVIN KLEIN</h5>
                            <h6 class="carousel-item__details--subtitlebrand">FLAT 40% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/skechers.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">SKECHERS</h5>
                            <h6 class="carousel-item__details--subtitlebrand">UP TO 40% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/jack&jones.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">JACK & JONES</h5>
                            <h6 class="carousel-item__details--subtitlebrand">FLAT 50% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/biba.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">BIBA</h5>
                            <h6 class="carousel-item__details--subtitlebrand">MIN. 50% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/levis.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">LAVIE</h5>
                            <h6 class="carousel-item__details--subtitlebrand">FLAT 70% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/veromoda.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">VERO MODA</h5>
                            <h6 class="carousel-item__details--subtitlebrand">MIN. 50% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand">
                        <img class="carousel-item__imgbrand" src="~/img/levi's.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">
                            <h5 class="carousel-item__details--titlebrand controls">LEVI'S</h5>
                            <h6 class="carousel-item__details--subtitlebrand">MIN. 30% OFF</h6>
                        </div>
                    </div>
                    <div class="carousel-itembrand" style="margin: 0px 120px 0px 0px;">
                        <img class="carousel-item__imgbrand" src="~/img/perfumes.jpeg" alt="people" />
                        <div class="carousel-item__detailsbrand">

                            <h5 class="carousel-item__details--titlebrand controls">PERFUMES</h5>
                            <h6 class="carousel-item__details--subtitlebrand">STARTING AT ₹ 249 </h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!--featuredbrandSection-end-->
<!--BudgetbuysSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid sectionbg">
        <div class="row sectionrow mt-4 ">
            <div class="col-12">
                <h1 class="sectionmainheading" style="margin: 50px 0px 0px 0px;">BUDGET BUYS</h1>
                <p class="fw-bolder sectionsubheading">Discounts that make you happy</p>
            </div>
            <div class="col-12 col-lg-12 col-md-12" style="margin: 30px 0px -50px 0px;">
                <div class="page-content page-container" id="page-content">
                    <div class="container-fluid">
                        <div class=" col-12 col-lg-12  ">
                            <div class="card-body">
                                <div class="owl-carousel">
                                    <div class="item">
                                        <img src="~/img/budget1.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget2.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget3.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget4.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget6.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget7.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget8.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget1.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget2.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget3.webp" alt="image" />
                                    </div>
                                    <div class="item">
                                        <img src="~/img/budget4.webp" alt="image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--BudgetbuysSection-end-->
<!--NEWCATEGORIESSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="margin: 0px 0px 65px 0px;">
            <div class="col-12 headingframalignment ">
                <div class="headingfram mt-4 mb-4">
                    <h1 class="sectionmainheading">NEW CATEGORIES TO WATCH OUT</h1>
                    <p class="fw-bolder sectionsubheading">Discover the latest trends</p>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-md-12" style="margin: 30px 0px -50px 30px;">
                <section class="articles" style=" justify-content: end;">
                    <article class="mr-4" style="margin: 0px 70px 0px 0px;">
                        <div class="article-wrapper">
                            <figure>
                                <img src="~/img/newcat1.webp" alt="" />
                            </figure>
                            <div class="article-body" style="margin: 10px;">
                                <h2>Metalic Hues</h2>
                                <p>
                                    Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue
                                    bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
                                </p>
                                <a href="#" class="read-more">
                                    Read more <span class="sr-only">about this is some title</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="mr-4" style="margin: 0px 70px 0px 0px;">

                        <div class="article-wrapper">
                            <figure>
                                <img src="~/img/newcat2.webp" alt="" />
                            </figure>
                            <div class="article-body" style="margin: 10px;">
                                <h2>Soft Pastels</h2>
                                <p>
                                    Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue
                                    bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
                                </p>
                                <a href="#" class="read-more">
                                    Read more <span class="sr-only">about this is some title</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="mr-4" style="margin: 0px 70px 0px 0px;">
                        <div class="article-wrapper">
                            <figure>
                                <img src="~/img/newcat3.jpg" alt="" />
                            </figure>
                            <div class="article-body" style="margin: 10px;">
                                <h2>Brezzy White</h2>
                                <p>
                                    Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue
                                    bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
                                </p>
                                <a href="#" class="read-more">
                                    Read more <span class="sr-only">about this is some title</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>
<!--NEWCATEGORIESSection-end-->
<!--gifbannerSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="padding: 30px 0px -50px 0px;">
            <div class="col-12 col-lg-12 col-md-12 mt-4">
                <img src="~/img/boy_try_1.png" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
        </div>
    </div>
</section>
<!--gifbannerSection-end-->
<!--brandslashedSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="margin: 0px 0px 65px 0px;">
            <div class="col-12 headingframalignment ">
                <div class="headingfram mt-4 mb-4">
                    <h1 class="sectionmainheading">BRANDS AT SLASHED PRICES</h1>
                    <p class="fw-bolder sectionsubheading">Incredible Offers to grab</p>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-md-12" style="margin: 30px 0px -50px 0px;">
                <div class="owl-carouselslashed owl-theme">
                    <div class="item">
                        <img src="~/img/slashedprice1.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice2.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice3.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice4.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice5.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice6.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice7.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice8.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice9.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice10.webp" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/img/slashedprice11.webp" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--brandslashedSection-end-->
<!--gifbannerSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="padding: 30px 0px -50px 0px;">
            <div class="col-12 col-lg-6 col-md-12 mt-4">
                <img src="~/img/gift1.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
            <div class="col-12 col-lg-6 col-md-12 mt-4">
                <img src="~/img/gift2.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
        </div>
    </div>
</section>
<!--gifbannerSection-end-->
<!--pricedropSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="margin: 0px 0px 65px 0px;">
            <div class="col-12 headingframalignment ">
                <div class="headingfram mt-4 mb-4">
                    <h1 class="sectionmainheading">PRICE DROP ALERT</h1>
                    <p class="fw-bolder sectionsubheading">Get ready for a saving spree</p>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-md-12" style="margin: 30px 0px -50px 0px;">
                <div id="owl-demo" class="owl-carousel owl-theme">

                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Wrap Dress</h5>
                                <h6><b>Offer Price: ₹1000</b></h6>
                                <p><b><s>Price: ₹2000</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp2.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Crocs</h5>
                                <h6><b>Offer Price: ₹3496 <s></s></b></h6>
                                <p><b><s>Price: ₹4995</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp3.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Aroow 3-Piece Suit</h5>
                                <h6><b>Offer Price: ₹6750 </b></h6>
                                <p><b><s>Price: ₹14999</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp4.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Fossil Watch For Men</h5>
                                <h6><b>Offer Price: ₹6748 </b></h6>
                                <p><b><s>Price: ₹13495</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp5.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cottinfab dresses</h5>
                                <h6><b>Offer Price: ₹875 </b></h6>
                                <p><b><s>Price: ₹2499</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp6.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Red Tape Polo T-Shirt</h5>
                                <h6><b>Offer Price: ₹571 </b></h6>
                                <p><b><s>Price: ₹2599</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp7.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Sam. Galaxy Buds 2 Pro</h5>
                                <h6><b>Offer Price: ₹12999 </b></h6>
                                <p><b><s>Price: ₹19999</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp8.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Satrani Saree</h5>
                                <h6><b>Offer Price: ₹3339 </b></h6>
                                <p><b><s>Price: ₹4995</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp9.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Kids Multicolor Print Top</h5>
                                <h6><b>Offer Price: ₹449 </b></h6>
                                <p><b><s>Price: ₹1239</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp10.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Aristocrat trolly-37cm</h5>
                                <h6><b>Offer Price: ₹2237 </b></h6>
                                <p><b><s>Price: ₹6199</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp11.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Accessorize London Bag</h5>
                                <h6><b>Offer Price: ₹2150 </b></h6>
                                <p><b><s>Price: ₹5245</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            <img src="~/img/pdp12.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bed Sheet Set</h5>
                                <h6><b>Offer Price: ₹799 </b></h6>
                                <p><b><s>Price: ₹1599</s></b></p>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Buy Now</a>
                                <a href="#" class="card-link">Move To Bag</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--pricedropSection-end-->
<!--gifbannerSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="padding: 0px 0px 50px 0px;">

            <div class="col-12 col-lg-12 col-md-12 ">
                <img src="~/img/cpnimage.jpg" alt="Addbanner" width="75%" style="border-radius: 10px;">
            </div>
            <div class="col-12 col-lg-12 col-md-12" style="margin: 70px 0px 0px 0px;">
                <a href="https://shooppy.in/">
                    <img src="~/img/Pink Gradient E-commerce Facebook Cover (1770 × 742 px).webp"
                         alt="Addbanner" width="100%" style="border-radius: 10px;">
                </a>
            </div>
        </div>
    </div>
</section>
<!--gifbannerSection-end-->