@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start mega menu area -->

<div class="slider-area">
    <div class="container">
        <div class="slider">
            <div id="container">
                <!-- Nivo slider Demo 35 -->
                <div id="NivosliderD35oo slider-gray-bg">
                    <div class="nivoSlider">
                        @await Html.PartialAsync("_TopBanner", Model)
                        @* <img src="img/slider/3.jpg" alt="slider image">
                            <img src="img/slider/5.jpg" alt="slider image">*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="baner-area">
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_MiddelBanner", Model)
        </div>
    </div>
</div>
<!-- End baner area -->

@await Html.PartialAsync("_ProductWithCatId")
@await Html.PartialAsync("_ProductWithStatusId")
@await Html.PartialAsync("_BrandZone")
@Html.Partial("_GetRecentProduct")




