@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Shooppy Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .theme-default img {
        max-height: 350px;
    }
    .shrink img {
        transition: 1s ease;
    }
        .shrink img:hover {
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            transition: 1s ease;
        }
    .img-hover-zoom {
        overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    }
        .img-hover-zoom img {
            transition: transform .5s ease;
        }
        .img-hover-zoom:hover img {
            transform: scale(1.5);
        }
    .image {
        flex-shrink: 0;
    }
</style>
<div class="slider-area">
    <div class="container-fluid">
        <div class="slider">
            <div id="container">
                <!-- Nivo slider Demo 35 -->
                <div id="NivosliderD35oo slider-gray-bg">
                    <div class="nivoSlider theme-default">
                        @await Html.PartialAsync("_TopBanner", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-4">
    <div class="container-fluid">
        <div class="row">
            @await Html.PartialAsync("_MiddelBanner", Model)
        </div>
    </div>
</div>
<!-- End baner area -->
@await Html.PartialAsync("_ProductWithCatId")
@await Html.PartialAsync("_ProductWithStatusId")
@await Html.PartialAsync("_GetRecentProduct")
@await Html.PartialAsync("_BottomBanner")
@await Html.PartialAsync("_BrandZone")
@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            //$('#loader').css('display', 'none');
          //  $('#wrapper').css('display', 'block');
            $(".container").attr("style", "display:none");
        });
        $(window).on('load', function () {
          //  $(".slider-area").attr
            $(".containers").fadeOut("slow");
           // $(".container").remove.attr("style", "display:initial");
            $(".container").removeAttr("style", "display:none");
        });
    </script>*@
<script>
    $('#removewishlist').hide();
    $('.addWish').click(function (e)
    {
        if ($(e.target).css('color') == 'rgb(255, 0, 0)')
        {
            $(e.target).css('color', 'white');
        }
        else
        {
            $(e.target).css('color', 'red');
        }
      e.preventDefault();
  var el = $(this),
    icon = el.find('i'),
            productId = el.data("product")
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Wishlist", "Wishlist")',
            data: {
                "id": productId
            },
            success: function (data) {
        }
        });
    });
</script>


