@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="pp-title">@ViewBag.OrganizationName Return & Refund Policy</h1>
        <!-- Section - Improve Your in-Store Experience -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 aos-init aos-animate" data-aos-once="true" data-aos="fade-up" data-aos-delay="50" data-aos-duration="700" data-aos-offset="100" data-aos-easing="ease-out">
                        <h1 class="section-info-heading mt-md-4"></h1>
                        <p class="section-info-para mt-md-4 mt-3 pt-1">
                        </p><p class="section-info-para mt-md-4 mt-3 pt-1">
                             Customers cannot cancel their Order (or any product therein) and the same can only be cancelled by
                             the @ViewBag.OrganizationName if they are unable to serve the Customer for any reason (including but not limited
                             to unavailability of the products/items).
                         </p>
                        <p class="section-info-para mt-md-4 mt-3 pt-1">
                            In certain cases (including but not limited to selling illegal products/items), only @ViewBag.OrganizationName shall have the
                            right to cancel the Orders (or any product therein).
                        </p>
                        <p></p>
                    </div>
                    <div class="col-md-12 aos-init aos-animate" data-aos-once="true" data-aos="fade-up" data-aos-delay="50" data-aos-duration="700" data-aos-offset="100" data-aos-easing="ease-out">
                        <h1 class="section-info-heading mt-md-4">Cancellation or Rejection of the Order / Items</h1>
                        <p class="section-info-para mt-md-4 mt-3 pt-1">
                            For pre-paid Orders, in the event of any cancellation or rejection of the Order or any particular
                            item(s) in the Order by @ViewBag.OrganizationName, due to any reason (including but not limited to
                            unavailability), the amount equivalent to the price of the cancelled or rejected Order/item
                            along with the applicable GST amount will be refunded to the Customer, which amount will
                            normally be credited within 8-10 business days from the date of cancellation/rejection.
                        </p>
                    </div>
                    <div class="col-md-12 aos-init aos-animate" data-aos-once="true" data-aos="fade-up" data-aos-delay="50" data-aos-duration="700" data-aos-offset="100" data-aos-easing="ease-out">
                        <h1 class="section-info-heading mt-md-4">If amount is debited however Order is not successful</h1>
                        <p class="section-info-para mt-md-4 mt-3 pt-1">
                            For pre-paid Orders, if the amount for an Order / item therein is debited from the Customer’s
                            account/card however the Order is not successful, then the concerned amount along with the applicable
                            GST amount will be refunded to the Customer, which amount will normally be credited within 8-10 business
                            days from the payment date.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
