@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="main-area">
    <div class="product-categori-area">
        <div class="container">
            <div class="product-categori">
                <div class="row flex-row-reverse">
                    <div class="col-lg-12 col-md-12">
                        <div id="content" class="categori-content">
                            <h1 class="page-heading product-listing">
                                <span class="cat-name">Products By Brand</span>
                            </h1>
                            <div id="my-tab-content" class="tab-content jump">
                                @await Html.PartialAsync("_ProductsbyBrand", Model)
                                <div id="list" class="tab-pane categori-list-view">
                                    <div class="list-view-single-product">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-view-image">
                                                    <a href="#" name="blklink"><img src="img/product/blouse1.jpg" loading="lazy" alt="blankimg"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="list-view-details">
                                                    <p>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </p>
                                                    <h5><a href="#" name="link">Blouse</a></h5>
                                                    <span class="list-product-price">£ 32.40</span>
                                                    <p class="product-desc">Short-sleeved blouse with feminine draped sleeve detail.</p>
                                                    <div class="product-social">
                                                        <ul>
                                                            <li><a href="#" name="link"><i class="fa fa-external-link"></i><span>Add to cart</span></a></li>
                                                            <li><a href="#" name="link"><i class="fa fa-heart-o"></i></a></li>
                                                            <li><a href="#" name="link"><i class="fa fa-bar-chart"></i></a></li>
                                                            <li><a href="#" name="link"><i class="fa fa-shopping-cart"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_BrandZone", Model)
</div>