@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>T&C</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="pp-title">
            Shooppy Terms & Conditions
        </h1>
        <p class="pptext mb-4">privacy policy and terms and conditions for access or usage of the website Shooppy.in (including the uniform resource locator created for each Merchant) (“Website”) forms an electronic record in terms of the Information Technology Act, 2000 (“IT Act”) and rules made there under, the mobile application available on Play Store and app store as Shooppy i.e. (“App”) and the uniform resource locator created for each Merchant (the ‘Website’, the ‘App’ is collectively hereinafter referred to as the “Platform”).</p>
        <p class="pptext mb-4">Shooppy.in is operated by Ashok Infotech ("Shooppy " or "us" or "we" or "our"), Ashok Infotech is incorporated under the provisions of the Companies Act, 2013, and laws of India, and its registered office is at C/807, Titanium City Center, Anandnagar Road, Ahmedabad – 380015, Gujarat.</p>
        <p class="pptext mb-5">Ashok Infotech has developed an exclusive URL and mobile application for each of the merchants who are listed/registered with Ashok Infotech (“Merchant”) to provide Ashok Infotech Services to the customers of the Merchant/user of the Ashok Infotech URL (“Customer” or “you” or “your”). Further, Ashok Infotech has developed a website and mobile application called ‘Shooppy.in & Shooppy App’ for assisting the Merchant(s) inter-alia concerning the registration process with Shooppy and processing of Customer’s orders through the Ashok Infotech URL.</p>
        <h4 class="ptitle">General</h4>
        <ul class="mb-5 ulstyle">
            <li>For the purposes of these Terms, ‘User’ and wherever the context may require, ‘You’ (or any variation thereof), shall mean any natural or legal person (including any legal heirs, administrators, or successors) who has agreed to become a user of the Platform by accessing or using the Platform. If You are accepting these Terms and using the Services (as defined below) or the Platform on behalf of a company, organization, government, or other legal entity, you represent and warrant that You are authorized to do so.</li>
            <li>Shooppy URL enables the Customers to place an order for / purchase products of the Merchant (“Order”) by getting access to the products offered/available with the Merchant. Merchant shall be solely liable for the quality, efficiency, availability, and merchantability of its products and services - Shooppy shall not be responsible for these aspects.</li>
            <li>These Terms contain rules, regulations, policies, terms, and conditions applicable to any Person who may access or use the Platform, as modified and updated from time to time. Use of the platform and the Services provided are subject to the rules and regulations, policies, notices, terms, and conditions set forth or included by references in these Terms.  </li>
            <li>These terms and conditions shall govern the use of the Ashok Infotech URL (and Shooppy App) by the Customers; accordingly, please read these T&Cs carefully before accessing or using the Ashok Infotech URL. Customers are also advised to read the Merchant's Terms & Conditions before accessing the Ashok Infotech URL (and Shooppy App).</li>
            <li>The content on the Platform is provided for general information only.</li>
            <li>If you do not agree to these T&Cs and/or the Merchant's Terms & Conditions, you shall not use the Ashok Infotech URL (and Shooppy App). By using the Ashok Infotech URL and/or Shooppy App, you signify your unconditional acceptance of these T&Cs and other Shooppy policies (as framed by Ashok Infotech from time to time).</li>
            <li>By impliedly or expressly accepting these Terms, you also accept and agree to be bound by applicable policies of the Company including the Privacy Policy as published on the Platform (“Policies”) communicated to the Users by publication on the Platform.</li>
        </ul>
        <h4 class="ptitle">Delivery, Orders, and Payments</h4>
        <ul class="mb-5 ulstyle">
            <li>Ashok Infotech URL enables the Customers to place orders for / purchase products of the Merchant (“Order”) by getting access to the products offered/available with the Merchant. Merchant shall be solely liable for the quality, efficiency, availability, and merchantability of its products and services - Shooppy shall not be responsible for these aspects.</li>
            <li>Shooppy does not provide delivery services, hence shall not be liable and responsible for the delivery of the Orders to the Customers.</li>
            <li>The delivery of the Orders is done by the Merchant himself (or through a third party), hence the Merchant shall be solely liable and responsible for the delivery of the Orders to the Customers.</li>
            <li>All the disputes in relation to the delivery/non-delivery of Orders shall be directly raised and settled by the Customers with the Merchant, without the intervention of Ashok Infotech.</li>
            <li>Customers can cancel their Order till their order status only is pending (or any product therein) and the same can only be cancelled by the Merchant if they are unable to serve the Customer for any reason (including but not limited to unavailability of the products/items).</li>
            <li>In certain cases (including but not limited to selling illegal products/items, etc. reasons), Shooppy shall have the right to cancel the Orders (or any product therein).</li>
            <li>For pre-paid Orders, in the event of any cancellation or rejection of the Order or any particular item(s) in the Order by Shooppy or Merchant, due to any reason (including but not limited to unavailability), the amount equivalent to the price of the cancelled or rejected Order/item along with the applicable GST amount will be refunded to the Customer, which amount will normally be credited within 3-7 business days from the date of cancellation/rejection.</li>
            <li>For pre-paid Orders, if the amount for an Order/item therein is debited from the Customer’s account/card if the Order is not successful, then the concerned amount along with the applicable GST amount will be refunded to the Customer, which amount will normally be credited within 3-7 business days from the payment date.</li>
            <li>
                Shooppy and/or Merchant reserves the right to put necessary limits/restrictions on the Orders, including but not limited to limit on the number of Orders by a particular Customer and minimum & maximum value of the Orders.
            </li>
            <li>We use a third-party payment gateway(s) service for processing the payments made about the purchase of products offered by the Merchants to Buyers.</li>
            <li>Customers shall have the option to make payment for their Orders on the Ashok Infotech URL (through various available modes viz. credit card, debit card, and UPI) or through cash on delivery mode directly to the Merchant. These payment modes will be decided and modified by Ashok Infotech from time to time. Shooppy has the right to use only selective payment methods. As consideration for rendering the Shooppy Services, Shooppy may charge/be paid by the Customers, the fees / Per Transaction Fixed Charge (PTFC) / Payment Service Charge per transaction (PSC), as decided and informed by Ashok Infotech from time to time.</li>
            <li>All payment transactions are subject to approval by Your issuing bank as applicable. If Your bank refuses to authorize payment, the Merchant shall have the right to cancel the Order without any further liability. Further, you agree that we/Merchants will not be held accountable for any delays caused to the delivery in cases where the payment authorization is delayed by Your bank/ financial institution.</li>
            <li>You agree and accept that the Company is neither acting as a trustee nor acting in a fiduciary capacity concerning the payment transaction because of providing the Pay Facility or any other method of payment to its Buyers.</li>
        </ul>
        <h5 class="ptitle">Merchant Terms</h5>
            <p class="pptext mb-4">The Merchants must compulsorily provide some documents for the online payment system. </p>
            <p class="pptext mb-4">The Merchants may list and provide the details of the products/ services offered for sale to the Buyers as registered users of the Platform, however, the Merchants shall not be permitted to sell any product that falls under the list of banned items (Our Banned Product List Link) identified by the Company from time to time or is otherwise prohibited for sale under applicable Law.</p>
            <p class="pptext mb-4">The Merchants agree and undertake that are legally permitted to sell the products listed for sale on the Platform. Listings may only include text descriptions, graphics, and pictures that describe your products for sale. All listed products must be listed in an appropriate category on the Platform.</p>
            <p class="pptext mb-4">
                Soliciting business offline or outside of the Platform with the Buyers is expressly prohibited and would be considered a breach of the User Agreement. All listed products must be kept in stock for the successful fulfillment of orders.
            </p>
            <p class="pptext mb-4">The Merchants hereby agree and undertake that descriptions, images, and other content pertaining to the products/services are complete and accurate and correspond directly with the appearance, nature, quality, purpose, and other features of such products/services.</p>
            <p class="pptext mb-4">The listing description of the products must not be misleading and must describe the actual condition of the product. If the product description does not match the actual product, you(“merchant”) agree to refund any amounts that You(“merchant”) may have received from the Buyer.</p>
            <p class="pptext mb-4">You shall not abuse or misuse the Platform or engage in any activity which violates the terms of the User Agreement. In any such case, the Company may suspend your account or permanently close(terminate) You from this(“Shooppy”) Platform.</p>
            <p class="pptext mb-4">Products listed on the Shooppy will be sold at MRP unless otherwise specified. Typically, the price mentioned at the time of ordering will be charged on the date of the delivery.</p>
            <p class="pptext mb-4">
                Prices shown are mentioned by the merchant/seller. The merchant shall communicate if any additional taxes, duties, levies, and alike charges are applicable (in case the prices are not tax inclusive) upon confirmation of the order.
            </p>
            <p class="pptext mb-4">
                You agree, undertake, and confirm that Your use of Platform shall be strictly governed by the following binding principles and, you shall not host, display, upload, download, modify, publish, transmit, update, or share any information which:
                <ul>
                    <li>is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, slanderous, criminally inciting or invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatsoever; or unlawfully threatening or unlawfully harassing including but not limited to "indecent representation of women" within the meaning of the Indecent Representation of Women (Prohibition) Act, 1986;</li>
                    <li>is patently offensive to the online community, such as sexually explicit content, or content that promotes obscenity, pedophilia, racism, bigotry, hatred, or physical harm of any kind against any group or individual;</li>
                    <li>involves the transmission of "junk mail", "chain letters", or unsolicited mass mailing or "spamming";</li>
                    <li>promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory, or libelous;</li>
                    <li>promotes an illegal or unauthorized copy of another person's copyrighted work (see "copyright complaint" below for instructions on how to lodge a complaint about uploaded copyrighted material), such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music or links to pirated music files;</li>
                    <li>provides material that exploits people in a sexual, violent, or otherwise inappropriate manner or solicits personal information from anyone;</li>
                    <li>provides instructional information about illegal activities such as making or buying illegal weapons;</li>
                    <li>
                        violating someone's privacy, or providing or creating computer viruses;
                    </li>
                    <li>refers to any website or URL that, in our sole discretion, contains material that is inappropriate for the Platform or any other website, contains content that would be prohibited or violates the letter or spirit of these Terms;</li>
                    <li>violates any Law for the time being in force;</li>
                    <li>directly or indirectly, offers attempts to offer, trades or attempts to trade in any item, the dealing of which is prohibited or restricted in any manner under the provisions of any applicable Law, rule, regulation, or guideline for the time being in force or creates liability for us or causes us to lose (in whole or in part) the services of our internet service provider or other suppliers.</li>
                </ul>
            </p>
            <p class="pptext mb-4">The merchants have to agree with these T&Cs, if you do not agree you shall not use the Shooppy platform. </p>
        <h4 class="ptitle">Termination & break</h4>
            <p class="pptext mb-4">Without limiting other remedies that the Company may pursue, the Company may at its sole discretion take such action as it deems fit including but not limited to cancellation of the membership and deletion of the account, limiting Your activity on the Platform, immediately removing Your information, or warn other Users of Your actions, forthwith temporarily/indefinitely suspend or terminate or block Your user account/membership, and/or refuse to provide You with access to the Platform or initiate any legal action it may deem fit.</p>
            <p class="pptext mb-4">
                particularly in the event: You breach any of the provisions of the User Agreement, any of the documents, or agreements between the Company and You in addition to these Terms, terms, and conditions made thereunder which are incorporated herein by reference; any misuse of Your account or the Pay Facility (if utilized), in case the Company is unable to verify or authenticate any information provided by You if the Company believes that Your actions may cause legal liability to the Company, other Users or Yourself.
            </p>
            <p class="pptext mb-4">
                You agree and acknowledge that we, in our sole discretion, without prior notification or intimation, may terminate your access to all or part of the Platform or cease to provide accessibility to the Platform, for reasons including but not limited to:
                <ul >
                    <li>In response to the requests of law enforcement agencies or other government institutions;</li>
                    <li>In response to your own request;</li>
                    <li>The suspension or major modification of the website or any of its services;</li>
                    <li>Unforeseeable technical issues;</li>
                    <li>Occurrence of an event outside our control.</li>
                </ul>
            </p>
            <p class="pptext mb-5">All Your obligations and liabilities incurred prior to the termination date shall survive the termination of the User Agreement for all purposes.</p>
        <h5 class="ptitle">Disclaimer & Limitation of Liability</h5>
        <ul>
            <li>Shooppy does not provide or make any representation, warranty, or guarantee, express or implied, about the Shooppy Services, Shooppy Platform, and Shooppy URL, and to the fullest extent permitted by law disclaims all liability arising out of the Customer’s use or reliance upon the same.</li>
            <li>Shooppy shall not be liable to the Customers for any product(s) or service(s) provided by the Merchant, or any liability in relation thereto. All claims pertaining to the same shall be made directly against the Merchant.</li>
            <li>Shooppy neither makes any representation or warranty as to specifics (such as quality, value, salability, merchantability, etc.) of the product(s) or service(s) sold or offered to be sold or purchased on the Shooppy URL, nor does it implicitly or explicitly support or endorse the sale or purchase of any product(s) or service(s) on the Shooppy URL.</li>
            <li>
                Any contract for the sale of any product(s) or service(s) on Shooppy applications/URL shall strictly be a bipartite contract between the Merchant and Customer. Merchants shall solely be responsible for order fulfillment, sale, efficacy, quality, quantity, merchantability, delivery, and all other issues.
            </li>
            <li>Shooppy shall not be responsible for any such aspects/issues and for any loss/damage in relation thereto, and in case of complaints from the Customer pertaining to such aspects/issues, Shooppy shall notify the complaints, Merchant. </li>
            <li>The Merchant shall be liable for redressing the Customer’s complaints at the earliest. Shooppy shall not be liable in case Merchant does not satisfactorily address said complaints. Customers shall have the right to initiate appropriate legal action against the Merchant.</li>
            <li>It is hereby clarified that Shooppy is only a technology provider/intermediary/e-commerce facilitator and that Shooppy is not performing any activity/job or providing services that may be tantamount to it being a seller, retailer, stockiest, and/or distributor. </li>
            <li>Shooppy has no role and responsibility in the actual sale, delivery, or fulfillment of the Orders, and Shooppy only provides a platform for facilitating Orders. Further, Shooppy shall also not be responsible for any payment-related issues at Merchant’s or Customer’s end (including but not limited to chargeback or refund-related issues).</li>
            <li>Details of the items, products, menu, price list, etc. available on the Shooppy URL are based on the information provided by the Merchant, and Shooppy shall not be responsible for any change or cancellation, or unavailability (expect any reasons).</li>
            <li>In addition to the above terms, the terms and conditions of the Merchant (if any) shall also be applicable in relation to the transactions specified in these T&Cs.</li>
        </ul>
        <h4 class="ptitle">Privacy / Data Protection & Consent</h4>
        <ul>
            <li>The Company views the protection of users’ privacy as a very important community principle. The Company clearly understands that You and the personal information provided by You is one of the most important assets to the Company.</li>
            <li>
                The Company stores and processes the information provided by You that are protected by physical as well as reasonable technological security measures and procedures in compliance with the applicable Law.
            </li>
            <li>In this regard, Shooppy has framed a privacy policy (“Privacy Policy”) that applies to the users of the Shooppy URL and other Shooppy platforms.</li>
            <li>
                This Privacy Policy has been published in accordance with the (Indian) Information Technology Act, 2000, and the rules/regulations framed thereunder, including the (Indian) Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011.
            </li>
            <li>Shooppy reserves the right to use the personal information provided by the Customers as per the terms of the Privacy Policy inter-alia for processing the Customer’s orders and for improvement of services, features, and functionality of the Shooppy Platform.</li>
            <li>Customer fully understands that usage of the Shooppy applications by the Customers may create or generate the database. All rights and ownership with respect to such database and information therein shall vest with Shooppy. </li>
            <li>Shooppy shall have the right to inter-alia use such Customer information /database for the purposes of research, analysis, business intelligence, and improvement/development/advancement of Shooppy applications.</li>
            <li>Any conversations/correspondences between the Merchant and Customer (including any WhatsApp conversations) shall be considered private, and Shooppy shall not be deemed to be a party to such conversations/ correspondences.</li>
        </ul>
        <h4>Miscellaneous Terms & Conditions</h4>
        <ul>
            <li>Eligibility: Services of the Shooppy URL will be available only in select geographies in India. Persons who are “incompetent to contract” within the meaning of the Indian Contract Act, 1872 including un-discharged insolvents, etc. are not eligible to use the Shooppy URL. If you are a minor, you may use the Shooppy URL only under the supervision of a parent or legal guardian who agrees to be bound by these T&Cs.</li>
            <li>The Shooppy shall not be liable in case of any false information is provided by the User including the User’s age and the User and/or his natural or appointed guardian alone shall be liable for the consequences as per the applicable Law of the country to which the User belongs.</li>
            <li>The Shooppy disclaims all liability arising out of such unauthorized use of the Platform and any third-party liability arising out of Your use of the Platform if You are a minor.</li>
            <li>Electronic Record: This document is an electronic record in terms of the Information Technology Act, 2000 and the rules made thereunder, as applicable and as amended from time to time.</li>
            <li>
                Modification: Ashok Infotech reserves the right to modify or change these T&Cs and other Ashok Infotech policies at any time by posting changes on the Ashok Infotech URL/website, and you shall be liable to update yourself of such changes.
            </li>
            <li>Your continued usage of the services after any change is posted constitutes your acceptance of the amended T&Cs/policies.</li>
            <li>Severability: If any of the provisions of these T&Cs should be determined to be illegal, invalid, or otherwise unenforceable by reason of the laws of any state or country in which these T&Cs are intended to be effective, then to the extent and within the jurisdiction where that term is illegal, invalid or unenforceable, it shall be severed and deleted and the remaining T&Cs shall survive, remain in full force and effect and continue to be binding and enforceable.</li>
            <li>Governing Law and Jurisdiction: The User Agreement and documents incorporated by reference shall be governed and construed in accordance with the laws of India. If any dispute arises between You and Ashok Infotech during Your use of the Platform or the Pay Facility or any service incidental to the Platform or thereafter, in connection with the validity, interpretation, implementation, or alleged breach of any provision of the Terms and/or any other agreement between the Ashok Infotech and You in addition to the User Agreement and any other documents incorporated therein by reference, the dispute shall be referred to the senior management of the Ashok Infotech for conciliation. </li>
            <li>If the dispute has not been resolved, then such a dispute shall be subject to the exclusive jurisdiction of the courts in Ahmedabad, Gujarat and You hereby submit to the jurisdiction of such courts.</li>
        </ul>
    </div>
</body>
</html>
