@model Shoppite.Application.Models.UsersModal
@{
    Layout = null;
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/css/LogIn.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
 <style>
     .field-icon {
         float: right;
         margin-left: -25px;
         margin-top: -25px;
         position: relative;
         z-index: 2;
     }
 </style>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form  asp-action="Register" asp-controller="Authentication" method="post">
                <h1>Create Account</h1>
                <input type="text" id="Reglogname" placeholder="Username" required />
                <span id="SUUserError" class="text-danger"> </span>
                <input type="email" id="Regsignemail" placeholder="Email" required />
                <span id="SUEmailError" class="text-danger"> </span>
                <input type="password" id="Regpassword" placeholder="Password" name="password" required />
                <span id="SUPassError" class="text-danger"> </span>
                <span id="SUPassLengthError" class="text-danger"> Password must greater than eight character</span>
                <div id="Eror"><p style="color:red;"> Password and Confirm Password Should be same</p></div>
                <button type="submit" onclick="Register()" name="signupbtn">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#" method="post">
                <h1>Sign in</h1>
                <input type="email" id="logemail" placeholder="Email" required />
                <span id="UserEmptError" class="text-danger"> </span>
                <input type="password" name="password" autocomplete="current-password" id="logpass" placeholder="Password" required />
                <span id="PassEmptError" class="text-danger"> </span>
                <a href="#" name="forgotlink">Forgot your password?</a>
                <div id="msg"><p style="color:red;"> Invalid Username Or Password</p></div>
                <button type="submit" id="logsub" onclick="LogIn()" name="signbtn">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" name="signbtn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" name="signbtn">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<!-- bootstrap js
============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- owl.carousel.min js
============================================ -->
<script src="js/owl.carousel.min.js"></script>
<!-- jquery.nivo.slider.pack.3.2 js
============================================ -->
<script src="~/js/jquery.nivo.slider.pack.3.2.js"></script>
<!-- jqueryui js
============================================ -->
<script src="~/js/jqueryui.js"></script>
<!-- jqueryui js
============================================ -->
<script src="~/js/jquery.fancybox.js"></script>
<!-- jquery.meanmenu js
============================================ -->
<script src="~/js/jquery.meanmenu.js"></script>
<!-- wow js
============================================ -->
<script src="~/js/wow.js"></script>
<!-- plugins js
============================================ -->
<script src="~/js/plugins.js"></script>
<!-- main js
============================================ -->
<script src="~/js/main.js"></script>