@model Shoppite.Application.Models.UsersModal
@{
    Layout = null;
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/css/LogIn.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
 <style>
     .field-icon {
         float: right;
         margin-left: -25px;
         margin-top: -25px;
         position: relative;
         z-index: 2;
     }
 </style>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form  asp-action="Register" asp-controller="Authentication" method="post">
                <h1>Create Account</h1>
                @*<div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>*@
                <input type="text" id="Reglogname" placeholder="Username" required />
                <span id="SUUserError" class="text-danger"> </span>

                <input type="email" id="Regsignemail" placeholder="Email" required />
                <span id="SUEmailError" class="text-danger"> </span>

                <input type="password" id="Regpassword" placeholder="Password" name="password" required />
                <span id="SUPassError" class="text-danger"> </span>
                <span id="SUPassLengthError" class="text-danger"> Password must greater than eight character</span>
                @*<input type="password" id="Regrepassword" placeholder="Confirm Password" />*@
                <div id="Eror"><p style="color:red;"> Password and Confirm Password Should be same</p></div>

                <button type="submit" onclick="Register()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#" method="post">
                <h1>Sign in</h1>
                @*<div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>*@
                <input type="email" id="logemail" placeholder="Email" required />
                <span id="UserEmptError" class="text-danger"> </span>

                <input type="password" name="password" autocomplete="current-password" id="logpass" placeholder="Password" required />
               @* <i class="far fa-eye field-icon" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>*@
                <span id="PassEmptError" class="text-danger"> </span>

                <a href="#">Forgot your password?</a>
                <div id="msg"><p style="color:red;"> Invalid Username Or Password</p></div>
                <button type="submit" id="logsub" onclick="LogIn()">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
@*<script src="~/js/vendor/jquery-3.5.1.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>

<!-- bootstrap js
============================================ -->
<script src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js
============================================ -->
<script src="js/owl.carousel.min.js"></script>

<!-- jquery.nivo.slider.pack.3.2 js
============================================ -->
<script src="~/js/jquery.nivo.slider.pack.3.2.js"></script>

<!-- jqueryui js
============================================ -->
<script src="~/js/jqueryui.js"></script>

<!-- jqueryui js
============================================ -->
<script src="~/js/jquery.fancybox.js"></script>

<!-- jquery.meanmenu js
============================================ -->
<script src="~/js/jquery.meanmenu.js"></script>

<!-- wow js
============================================ -->
<script src="~/js/wow.js"></script>

<!-- plugins js
============================================ -->
<script src="~/js/plugins.js"></script>

<!-- main js
============================================ -->
<script src="~/js/main.js"></script>

@*<script>

    $('#msg').hide();
    $('#Eror').hide();
    $('#UserEmptError').hide();
    $('#PassEmptError').hide();
    $('#SUUserError').hide();
    $('#SUEmailError').hide();
    $('#SUPassError').hide();
    $('#SUPassLengthError').hide();


    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');


    //togglePassword.addEventListener('click', function (e) {
    //    // toggle the type attribute
    //    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    //    password.setAttribute('type', type);
    //    // toggle the eye slash icon
    //    this.classList.toggle('far far-eye-slash');
    //});


    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

    function LogIn() {
        var UserId = $("#logemail").val();
        var PassWord = $("#logpass").val();
        var datal = { "userid": UserId, "password": PassWord };
        var detaillog = JSON.stringify({ datal });

        if (UserId == "") {
            $('#UserEmptError').show();
        } else if (PassWord == "") {
            $('#PassEmptError').show();
        } else {

                      $.ajax({
                          type: "POST",
                          url: '@Url.Action("Login", "Authentications")',
                          data: detaillog,
                          dataType: 'JSON',
                          contentType: 'application/json; charset=utf-8',
                          success: function (data) {

                              if (data == "fail") {
                                  $("#msg").show();
                              }
                              else {
                                  window.location = "/";
                                  $("#msg").hide();
                              }
                          },
                          Error: function (error) {
                                alert("some");

                          }
                      });
               }

    };


    function Register() {

        var Pass = $('#Regpassword').val();
        var UserName = $("#Reglogname").val();
        var Email = $("#Regsignemail").val();
        //var ConfPass = $('#Regrepassword').val();

       if (UserName == "")
       {
            $('#SUUserError').show();
       }
       else if (Email == "")
       {
           $('#SUEmailError').show();
       }
       else if (Pass == "")
       {
           $('#SUPassError').show();
       }
       else if (!Pass.length >= 8)
       {
           $('#SUPassLengthError').show();
       }
       else
       {

          var Regdata = {

                "UserName": $("#Reglogname").val(),
                "Password": Pass,
                "Email": $("#Regsignemail").val(),
          };
          var UserDetail = JSON.stringify({ Regdata });

         $.ajax({
                type: "POST",
                url: '@Url.Action("Register", "Authentications")',
                data: UserDetail,
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == "Succsess") {
                        alert("User add successfully");
                    } else {
                        alert("user is already registered");
                    }
                },
                Error: function () {
                    alert("some thing Wrong");

                }
          });

        }

    }


</script>*@






