@model Shoppite.Application.Models.UsersModal
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up / Login Form</title>
    <link rel="stylesheet" href="~/css/LogIn.css">

</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <form class="loginform" asp-action="Login" asp-controller="Authentications" method="post">
                <div class="loginlogo">
                    <img class="text-center" src="~/img/Shooppy.in11.webp" width="100px" height="100px">
                </div>
                <label class="loginlabel" for="chk" aria-hidden="true">Login</label>
                <input type="email" asp-for="Email" name="email" placeholder="Email*" required="">
                <input type="password" asp-for="Password" name="Password" placeholder="Password*" required="">
                <p class="loginforgot"><a data-toggle="modal" data-target="#exampleModal">Forgot Password?</a></p>
                <button class="loginbtn">Login</button>
                <p class="loginpolicy">By continuing, you agree to Shooppy's <a class="tcloginlink" href="termsconditions.html">Terms and Conditions</a> and <a class="tcloginlink" href="privacypolicy.html">Privacy Policy</a>.</p>
            </form>
        </div>
        <div class="login">
            <form class="signupform" asp-action="Register" asp-controller="Authentications" method="post">
                <label class="signuplabel" for="chk" aria-hidden="true">Sign up</label>
                <input type="text" asp-for="Username" name="Username" placeholder="User name*" required="">
                <input type="email" asp-for="Email" name="email" placeholder="Email*" required="">
                <input type="password" asp-for="Password" name="Password" placeholder="Password*" required="">
                <input type="password" asp-for="Password" name="Password" placeholder="Re-Password*" required="">
                <button class="signupbtn">Sign up</button>
            </form>
        </div>
    </div>
</body>
</html>

