@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model.MyOrderDetails!=null & Model.MyOrderDetails.Count > 0)
{
    <div class="row">
        @foreach (var myorders in Model.MyOrderDetails.Where(x => x.OrderStatus == "Pending"))
        {
            <div class="col-lg-4 col-md-4 col-12">
                <div style="width:355px;" class="wishlist-box card rounded shadow d-flex">
                    <div class="d-inline-flex">

                        <div style="margin: 5px;">
                           @* //<h6 style="padding:5px 0px 0px 0px;" class="product_name_Over ">@myorders.ProductName</h6>*@
                            <p> <b style="color: #fe5b5a;">Order Date:</b> @myorders.orderdate</p>
                            <p> <b style="color: #fe5b5a;">OrderId:</b> @myorders.OrderMasterId</p>
                        </div>

                        <div style="width: 58px;text-align:center;">
                            <abbr title="More Order Details">
                                <a href="/Orders/OrderDetails?orderid=@myorders.OrderMasterId">
                                    <h2>
                                        <i class="fa fa-angle-right pt-4"></i>
                                    </h2>
                                </a>
                            </abbr>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <img src="~/images/NoOrderPlace.gif" style="max-height: 400px; width: 100%; margin-left: 25px;" />
    </div>
}
