@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="main-area">
</div>
<!-- Start wishlists page area -->
<div class="wishlists-page-area">
    <div class="container-fluid">
        <select class="pendingOrders form-select-sm" style="float:right">
            <option value="1">All Orders</option>
            <option value="2">Pending Orders</option>
            <option value="3">Delivered Orders</option>
            <option value="4">Cancelled Orders</option>
        </select>
        <div class="row col-lg-12">
            <h4 class="cart-title">My Orders</h4>
            <div class="wishlist-product">
                @await Html.PartialAsync("_AllOrders", Model)
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Home/_BrandZone.cshtml", Model)
</div>
<script>
    $(".pendingOrders").change(function () {
        var valueofDropDown = $(this).val();
        if (valueofDropDown == 2) {
            $.ajax({
                url: '@Url.Action("_PendingOrders", "Orders")',
                type: "GET",
                success: function (data) {
                    $(".wishlist-product").html(data);
                }
            });
        }
        else if (valueofDropDown == 3) {
            $.ajax({
                url: '@Url.Action("_DeliveredOrders", "Orders")',
                type: "GET",
                success: function (data) {
                    $(".wishlist-product").html(data);
                }
            });
        }
            else if (valueofDropDown == 4) {
            $.ajax({
                url: '@Url.Action("_CancelledOrders", "Orders")',
                type: "GET",
                success: function (data) {
                    $(".wishlist-product").html(data);
                }
            });
        }
        else {
             $.ajax({
                url: '@Url.Action("_AllOrders", "Orders")',
                type: "GET",
                success: function (data) {
                    $(".wishlist-product").html(data);
                }
            });
        }
    });
</script>