@model Shoppite.Application.Models.CategoryMasterModel
@* <a href="#"><img src="@Url.Content("~")/@Model.Image" alt="slider image" /></a>*@
@foreach (var image in Model.topBanner)
{
        <a href="#"><img  src="@Url.Content("~")@image.Image" alt="slider image" /></a>
}
