    <!--gifbannerSection-start-->
    <section class="section section-sm section-first bg-default text-center">
        <div class="container-fluid">
            <div class="row " style="padding: 30px 0px -50px 0px;">

                <div class="col-12 col-lg-12 col-md-12 mt-4">
                    <img class="offerbennertop" src="img/discount.gif" alt="Addbanner" width="100%"
                         style="border-radius: 10px;">
                </div>
            </div>
        </div>
    </section>
    <!--gifbannerSection-end-->
    <!--categorySection-start-->
    <section class="section section-sm section-first bg-default text-center">
        <div class="container-fluid">
            <div class="row sectionrow mt-4 ">
                <div class="col-12">
                    <h1 class="sectionmainheading">ALL CATEGORIES</h1>
                    <p class="fw-bolder sectionsubheading">There's something here for everyone</p>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-2">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/Isolated_white_t-shirt_front-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">T-Shirts</p>
                        </div>
                    </div>
                </div>                                                                                       
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/man-wearing-brown-pants-close-up__1_-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Trousers</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/NicePng_kurti-png_2603242.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Kurtas</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/pngimg.com - dress_PNG135.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Dresses</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/young-indian-woman-wearing-sari__1___1_-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Sarees</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/new-black-sneakers-isolated-white-background-removebg-preview.png"
                                 class="cardimg" style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Shoes</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/portrait-happy-woman-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Tops</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/beautiful-elegance-luxury-fashion-green-handbag-removebg-preview.png"
                                 class="cardimg" style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Handbag</p>
                        </div>
                    </div>
                </div>
                                   
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/new-black-sneakers-isolated-white-background-removebg-preview.png"
                                 class="cardimg" style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Shoes</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/portrait-happy-woman-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Tops</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/beautiful-elegance-luxury-fashion-green-handbag-removebg-preview.png"
                                 class="cardimg" style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Handbag</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/closeup-shot-golden-watch-isolated-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Watches</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/Necklace-Jewellery-PNG-Clipart__1_-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Jewellery</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/beautiful-elegance-luxury-fashion-green-handbag-removebg-preview.png"
                                 class="cardimg" style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Handbag</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/closeup-shot-golden-watch-isolated-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Watches</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-3 mt-4">
                    <div class="centeri">
                        <div class="cardmain">
                            <img src="img/Necklace-Jewellery-PNG-Clipart__1_-removebg-preview.png" class="cardimg"
                                 style="width: auto; height: 100px;">
                            <p class="sectioncetegory">Jewellery</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--categorySection-end-->
    <!--gifbannerSection-start-->
    <section class="section section-sm section-first bg-default text-center">
        <div class="container-fluid">
            <div class="row " style="padding: 30px 0px -50px 0px;">
                <div class="col-12 col-lg-12 col-md-12"
                     style="display: flex; justify-content: center; margin: 20px 0px 30px 0px;">
                    <img src="img/categorypagegif.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
                </div>
                <!-- <div class="col-12 col-lg-6 col-md-12 mt-4">
                    <img src="img/gift2.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
                </div> -->
            </div>
        </div>
    </section>
    <!--gifbannerSection-end-->
    <!--footerSection-end-->


