@model List<Shoppite.Application.Models.CategoryMasterModel >
  <!--gifbannerSection-start-->
    <section class="section section-sm section-first bg-default text-center">
        <div class="container-fluid">
            <div class="row " style="padding: 30px 0px -50px 0px;">

                <div class="col-12 col-lg-12 col-md-12 mt-4">
                    <img class="offerbennertop" src="img/discount.gif" alt="Addbanner" width="100%"
                         style="border-radius: 10px;">
                </div>
            </div>
        </div>
    </section>
    <!--gifbannerSection-end-->
    <!--categorySection-start-->
    <section class="section section-sm section-first bg-default text-center">
        <div class="container-fluid">
            <div class="row sectionrow mt-4 ">
                <div class="col-12">
                    <h1 class="sectionmainheading">ALL CATEGORIES</h1>
                    <p class="fw-bolder sectionsubheading">There's something here for everyone</p>
                </div>
                @foreach (var CategoryDetails in Model)
                {
                    <div class="col-6 col-lg-2 col-md-3 mt-2">
                        <div class="centeri">
                            <div class="cardmain">
                                <a href="/Home/AllProducts?CategoryId=@CategoryDetails.CategoryId">
                                    <img src="@CategoryDetails.Icon" class="cardimg"
                                         style="width: auto; height: 100px;">
                                    <p class="sectioncetegory"></p>
                                </a>
                                
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </section>
    <!--categorySection-end-->
    <!--gifbannerSection-start-->
    <section class="section section-sm section-first bg-default text-center">
        <div class="container-fluid">
            <div class="row " style="padding: 30px 0px -50px 0px;">
                <div class="col-12 col-lg-12 col-md-12"
                     style="display: flex; justify-content: center; margin: 20px 0px 30px 0px;">
                    <img src="img/categorypagegif.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
                </div>
                <!-- <div class="col-12 col-lg-6 col-md-12 mt-4">
                    <img src="img/gift2.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
                </div> -->
            </div>
        </div>
    </section>
    <!--gifbannerSection-end-->
    <!--footerSection-end-->


