<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <partial name="_Styles">
</head>

<body>
    <!--scrollup-start-->
    <button class="round-3" onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fa-solid fa-bounce fa-arrow-up"
           style="font-size:24px; font-weight: 700;"></i>
    </button>
    <!--scrollup-end-->
    <!--navbar-start-->
    <!--navbar-menu-start-->
    <header>
        <nav class="navbar row">
            <div class="hamburger-menu col-12 col-lg-3 col-md-6">
                @await Component.InvokeAsync("VendorLogo")
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle" style="font-weight:700;">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <img src="~/img/Shooppy.in11.webp" alt="sitelogo" width="150px" height="80px"
                         style="margin: 10px 0px 0px 70px;" />

                    <div class="menulist">
                    <li><a class="menu__item" href="#">Go to Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">My Orders <i class="fa fa-box-open" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">Trending <i class="fa fa-fire" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li>
                    <a class="menu__item" href="#">
                        Top Categories For You <i class="fa-solid fa fa-th-large"
                                                  aria-hidden="true"></i>
                    </a>
                </li>
            </div>
            <div class="menulist">
                <li>
                    <a class="menu__item" href="#">programs & Features <i class="fa fa-vcard" aria-hidden="true"></i></a>
                </li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">My Account <i class="fas fa-portrait" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">Discount <i class="fa fa-percent" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">Most Gifted <i class="fa fa-gift" aria-hidden="true"></i></a></li>
            </div>
            </ul>
            </div>
            <!--navbar-menu-end-->
            <!--navbar-sreach-start-->
            <div class="col-12 col-lg-4 col-md-6">
                <div class="search-box">
                    <input type="text" class="sreachtext" placeholder="Sreach Products" /><span></span>
                </div><span class="sereachtags">Can you Sreach Any Products?</span>
            </div>
            <!--navbar-sreach-end-->
            <!--navbar-appsection-start-->
            <div class="col-12 col-lg-2 col-md-6">
                <div class="parent parentapp">
                    <button class="round-1" style=" margin: 10px 20px 0px 0px; width: 210px; color: #000000; font-weight: 700;">
                        <a href="https://play.google.com/store/apps/details?id=com.ashokinfotech.shooppy">
                            Also Try App Shooppy <img src="~/img/playstore.png" alt="playstoreimge" />
                        </a>
                    </button>
                    <!-- <button class="round-1" style="margin: 10px 20px 0px 0px; width: 140px;"></button> -->
                </div>
            </div>
            <!--navbar-appsection-end-->
            <!--navbar-button-start-->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="mobspace col-12 col-lg-3 col-md-6">
                    <div class="parent">
                        <button data-toggle="tooltip" data-placement="top" title="Your Order" class="round-3"
                                style="margin: 10px 20px 0px 0px;">
                            <a href="orderpage.html"><img src="~/img/shopping-bag.png" alt="shoppingbagimge" /></a>
                        </button>
                        <button data-toggle="tooltip" data-placement="top" title="Whishlist" class="round-3">
                            <a asp-action="Wishlist" asp-controller="Wishlist"><img src="~/img/heart.svg" alt="shoppingbagimge" width="30" height="30" /></a>
                        </button>
                        <div class="dropdown">
                            <button data-toggle="tooltip" data-placement="top" title="My Account" class="round-3 dropbtn"
                                    onclick="myFunction()" style="margin: 10px 20px 0px 0px;">
                                <img src="~/img/add-user.png"
                                     alt="adduserimge" />
                            </button>
                            <div id="myDropdown" class="dropdown-content">
                                <a asp-action="Register" asp-controller="Authentications">Login</a>
                                <a asp-controller="myAccount" asp-action="MyAccount" class="droptext">My Profile</a>
                                <a asp-action="Register" asp-controller="Authentications">Sign Up</a>
                            </div>
                        </div>
                        <button data-toggle="tooltip" data-placement="top" title="My Bag" class="round-3">
                            <a asp-action="Cart" asp-controller="Cart">
                                <img src="~/img/cart (1).png" alt="cartimge" />
                            </a>
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="mobspace col-12 col-lg-3 col-md-6">
                    <div class="parent">
                        <button data-toggle="tooltip" data-placement="top" title="Your Order" class="round-3"
                                style="margin: 10px 20px 0px 0px;">
                            <a asp-action="Register" asp-controller="Authentications"><img src="~/img/shopping-bag.png" alt="shoppingbagimge" /></a>
                        </button>
                        <button data-toggle="tooltip" data-placement="top" title="Whishlist" class="round-3">
                            <a asp-action="Register" asp-controller="Authentications"><img src="~/img/heart.svg" alt="shoppingbagimge" width="30" height="30" /></a>
                        </button>
                        <div class="dropdown">
                            <button data-toggle="tooltip" data-placement="top" title="My Account" class="round-3 dropbtn"
                                    onclick="myFunction()" style="margin: 10px 20px 0px 0px;">
                                <img src="~/img/add-user.png"
                                     alt="adduserimge" />
                            </button>
                            <div id="myDropdown" class="dropdown-content">
                                <a asp-action="Register" asp-controller="Authentications" class="droptext">Login</a>
                                <a asp-action="myAccount" asp-controller="MyAccount" class="droptext">My Profile</a>
                                <a href="#" class="droptext">Sign Up</a>
                            </div>
                        </div>
                        <button data-toggle="tooltip" data-placement="top" title="My Bag" class="round-3">
                            <a asp-action="Register" asp-controller="Authentications">
                                <img src="~/img/cart (1).png" alt="cartimge" />
                            </a>
                        </button>
                    </div>
                </div>

            }
            <!--navbar-button-end-->
            @await Component.InvokeAsync("MegaMenu")
        </nav>
    </header>
    @RenderBody()
    <!--navbar-end-->
    <!--footerSection-start-->
    @await Component.InvokeAsync("FooterDetails")
    <!--footerSection-end-->
    <!--offercardSection-start-->
    <div class="container mainpageoffercard">
        <div class="card mainpageoffer">
            <div class="form">
                <div class="left-side">
                    <span class="triangle "></span>
                    <div class="flattext">
                        <h2 class="cardtextheading">FLAT ₹400 OFF</h2>
                    </div>
                </div>
                <div class="right-side">
                    <div class="upper-content">
                        <div class="flat">
                            <p>AVAIL FLAT</p>
                            <h3>₹400 OFF</h3>
                            <h4>+ FREE DELIVERY</h4>
                        </div>
                        <img src="~/img/Shooppy.in11.webp" width="40px" height="40px">
                    </div>
                    <div class="middle-content">
                        <div class="coupon">
                            <h4>Coupon code : </h4>
                            <h3>Shooppy ₹400</h3>
                            <p>Applicable on your first order</p>
                        </div>
                        <button>Sign up now</button>
                    </div>
                    <hr>
                    <div class="last">
                        <div class="quality">
                            <img src="https://imgur.com/a0TMZC7.jpg">
                            <p>Genuine Products</p>
                        </div>
                        <div class="quality">
                            <img src="https://imgur.com/8IZhLGS.jpg">
                            <p>Try & Buy</p>
                        </div>
                        <div class="quality">
                            <img src="https://imgur.com/TezkMX1.jpg">
                            <p>Easy Exchanges</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--offercardSection-end-->
    <partial name="_Scripts" />
    <partial name="_ValidationScriptsPartial" />
</body>
@await RenderSectionAsync("Scripts", required: false)


</html>