<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <partial name="_Styles">
</head>

<body>
    <!--scrollup-start-->
    <button class="round-3" onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fa-solid fa-bounce fa-arrow-up"
           style="font-size:24px; font-weight: 700;"></i>
    </button>
    <!--scrollup-end-->
    <!--navbar-start-->
    <!--navbar-menu-start-->
    <header>
        <nav class="navbar row">
            <div class="hamburger-menu col-12 col-lg-3 col-md-6">
                <img src="~/img/Shooppy.in11.webp" alt="sitelogo" width="150px" height="80px" style="margin: 0px 0px 0px 90px;" />
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle" style="font-weight:700;">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <img src="~/img/Shooppy.in11.webp" alt="sitelogo" width="150px" height="80px"
                         style="margin: 10px 0px 0px 70px;" />

                    <div class="menulist">
                    <li><a class="menu__item" href="#">Go to Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">My Orders <i class="fa fa-box-open" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">Trending <i class="fa fa-fire" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li>
                    <a class="menu__item" href="#">
                        Top Categories For You <i class="fa-solid fa fa-th-large"
                                                  aria-hidden="true"></i>
                    </a>
                </li>
            </div>
            <div class="menulist">
                <li>
                    <a class="menu__item" href="#">programs & Features <i class="fa fa-vcard" aria-hidden="true"></i></a>
                </li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">My Account <i class="fas fa-portrait" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">Discount <i class="fa fa-percent" aria-hidden="true"></i></a></li>
            </div>
            <div class="menulist">
                <li><a class="menu__item" href="#">Most Gifted <i class="fa fa-gift" aria-hidden="true"></i></a></li>
            </div>
            </ul>
            </div>
            <!--navbar-menu-end-->
            <!--navbar-sreach-start-->
            <div class="col-12 col-lg-4 col-md-6">
                <div class="search-box">
                    <input type="text" class="sreachtext" placeholder="Sreach Products" /><span></span>
                </div><span class="sereachtags">Can you Sreach Any Products?</span>
            </div>
            <!--navbar-sreach-end-->
            <!--navbar-appsection-start-->
            <div class="col-12 col-lg-2 col-md-6">
                <div class="parent parentapp">
                    <button class="round-1" style=" margin: 10px 20px 0px 0px; width: 210px; color: #000000; font-weight: 700;">
                        <a href="https://play.google.com/store/apps/details?id=com.ashokinfotech.shooppy">
                            Also Try App Shooppy <img src="~/img/playstore.png" alt="playstoreimge" />
                        </a>
                    </button>
                    <!-- <button class="round-1" style="margin: 10px 20px 0px 0px; width: 140px;"></button> -->
                </div>
            </div>
            <!--navbar-appsection-end-->
            <!--navbar-button-start-->
            <div class="mobspace col-12 col-lg-3 col-md-6">
                <div class="parent">
                    <button data-toggle="tooltip" data-placement="top" title="Your Order" class="round-3"
                            style="margin: 10px 20px 0px 0px;">
                        <a href="orderpage.html"><img src="~/img/shopping-bag.png" alt="shoppingbagimge" /></a>
                    </button>
                    <button  data-toggle="tooltip" data-placement="top" title="Whishlist" class="round-3">
                        <a  asp-action="Wishlist" asp-controller="Wishlist"><img src="~/img/heart.svg" alt="shoppingbagimge" width="30" height="30" /></a>
                    </button>
                    <div class="dropdown">
                        <button data-toggle="tooltip" data-placement="top" title="My Account" class="round-3 dropbtn"
                                onclick="myFunction()" style="margin: 10px 20px 0px 0px;">
                            <img src="~/img/add-user.png"
                                 alt="adduserimge" />
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#" class="droptext">Login</a>
                            <a href="Myprofilepage.html" class="droptext">My Profile</a>
                            <a href="#" class="droptext">Sign Up</a>
                        </div>
                    </div>
                    <button data-toggle="tooltip" data-placement="top" title="My Bag" class="round-3">
                        <a href="cartpage.html">
                            <img src="~/img/cart (1).png" alt="cartimge" />
                        </a>
                    </button>
                </div>
            </div>
            <!--navbar-button-end-->
            @await Component.InvokeAsync("MegaMenu")
        </nav>
    </header>
    @RenderBody()
    <!--navbar-end-->
    <!--footerSection-start-->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30 mt-4">
                        <div class="single-cta d-flex">
                            <i class="fas fa-map-marker-alt" style="font-size: 45px; color: #aed4f0;"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30 mt-4">
                        <div class="single-cta d-flex">
                            <i class="fas fa-phone" style="font-size: 45px; color: #aed4f0;"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>9876543210 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30 mt-4">
                        <div class="single-cta d-flex">
                            <i class="far fa-envelope-open" style="font-size: 45px; color: #aed4f0;"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5" style="z-index: 0;">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/img/Shooppy.in11.webp" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec
                                    tetur adipisicing
                                    elit,Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#">
                                    <i class="fab fa-facebook-f facebook-bg" style="padding: 12px 14px 12px 14px;
                  border-radius: 5px;"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter twitter-bg" style="padding: 12px 12px 12px 12px;
                  border-radius: 5px;"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-google-plus-g google-bg" style="padding: 12px 12px 12px 12px;
                  border-radius: 5px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30 mt-4">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Categories</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home decor</a></li>
                                <li><a href="#">Electronic</a></li>
                                <li><a href="#">Grocery</a></li>
                                <li><a href="#">Appliances</a></li>
                                <li><a href="#">Beauty & Toy</a></li>
                                <li><a href="#">Clothing</a></li>
                                <li><a href="#">Accesories</a></li>
                                <li><a href="#">Footwear</a></li>
                                <li><a href="category.html">More</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30 mt-4">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All Right Reserved <a class="shooppylink"
                                                                                                                 href="https://shooppy.in/">Shooppy</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="mainpage.html">Home</a></li>
                                <li><a href="#">Offers</a></li>
                                <li><a href="whishlist.html">Whishlist</a></li>
                                <li><a href="cartpage.html">My Bag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footerSection-end-->
    <!--offercardSection-start-->
    <div class="container mainpageoffercard">
        <div class="card mainpageoffer">
            <div class="form">
                <div class="left-side">
                    <span class="triangle "></span>
                    <div class="flattext">
                        <h2 class="cardtextheading">FLAT ₹400 OFF</h2>
                    </div>
                </div>
                <div class="right-side">
                    <div class="upper-content">
                        <div class="flat">
                            <p>AVAIL FLAT</p>
                            <h3>₹400 OFF</h3>
                            <h4>+ FREE DELIVERY</h4>
                        </div>
                        <img src="~/img/Shooppy.in11.webp" width="40px" height="40px">
                    </div>
                    <div class="middle-content">
                        <div class="coupon">
                            <h4>Coupon code : </h4>
                            <h3>Shooppy ₹400</h3>
                            <p>Applicable on your first order</p>
                        </div>
                        <button>Sign up now</button>
                    </div>
                    <hr>
                    <div class="last">
                        <div class="quality">
                            <img src="https://imgur.com/a0TMZC7.jpg">
                            <p>Genuine Products</p>
                        </div>
                        <div class="quality">
                            <img src="https://imgur.com/8IZhLGS.jpg">
                            <p>Try & Buy</p>
                        </div>
                        <div class="quality">
                            <img src="https://imgur.com/TezkMX1.jpg">
                            <p>Easy Exchanges</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--offercardSection-end-->

</body>

<partial name="_Scripts" />

</html>