@model Shoppite.Application.Models.UsersModal
<a href="/" name="link"><img loading="lazy" style="max-height:100px;width:auto;border-radius:5px;" class="MobLogo" src="@Model.LogoModel.Logo1" alt="Headerlogo"></a>
