@model Shoppite.Application.Models.UsersModal
    <a asp-action="Index" asp-controller="Home">
        <img src="@Model.LogoModel.Logo1" alt="sitelogo" width="150px" height="80px" style="margin: 0px 0px 0px 90px;">
    </a>
