@model Shoppite.Application.Models.OrganizationModel
<div class="footer-top-about-us">
    <h4><span>ABOUT US</span></h4>
   @if (!string.IsNullOrEmpty(Model.AboutUs))
    {
        <p>@Html.Raw(Model.AboutUs)</p>        
    }
    else
    {
        <p>@Model.OrgName is retailer and supplier in PAN India</p>
    }
</div>
