@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!--subnavbar-start-->
<div class="nav mt-4">
    <ul class="navlist">
        <!-- <li><a href="#" class="navmenu">Home decor</a></li>
    <li><a href="#" class="navmenu">Electronic</a></li>
    <li><a href="#" class="navmenu">Grocery</a></li>
    <li><a href="#" class="navmenu">Appliances</a></li>
    <li><a href="#" class="navmenu">Beauty & Toy</a></li>
    <li><a href="#" class="navmenu">Clothing</a></li>
    <li><a href="#" class="navmenu">Accesories</a></li>
    <li><a href="#" class="navmenu">Footwear</a></li> -->
        @foreach (var item in Model.ProductsDetails.Take(8))
        {
            <div class="navbarsubdropdown">
                <button class="navbarsubdropbtn navmenu">@item.maincaturlpath</button>
                @foreach (var subcat in item.SubcategoryDetails)
                {
                    <div class="navbarsubdropdown-content">
                        <a href="productslistpage.html" class="navbarsubdroptext">@subcat.CategoryName</a>
                    </div>
                }
            </div>

        }
        <div class="navbarsubdropdown">
            <button class="navbarsubdropbtn navmenu">
                <a href="category.html" class="navmenu"
                   style="text-decoration: none;">More</a>
            </button>
        </div>
    </ul>
    <ul class="mobnavlist">
        <li><a href="category.html" class="navmenu">Category</a></li>
        <li><a href="Myprofilepage.html" class="navmenu">MY Profile</a></li>
        <li><a href="#" class="navmenu">Logout</a></li>
    </ul>
</div>
<!--Subnavbar-end-->
