@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="megamenu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="megamenu">
                    <nav>
                        <ul>
                            <li>
                                <a class="home" href="/">Home</a>
                                <div class="megamenudown-mini home-ve">
                                    <div class="mega-top">
                                        <div class="mega-item-menu">
                                            <a class="title" href="#"><span>Home variyation</span></a>
                                            <a href="index-2.html"><span>Home2</span></a>
                                            <a href="index-3.html"><span>Home3</span></a>
                                            <a href="index-4.html"><span>Home4</span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            @await Html.PartialAsync("~/Views/Home/_Categories.cshtml", Model)
                            @await Html.PartialAsync("~/Views/Home/_MoreCategories.cshtml", Model)


                            @*<li>
            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))">
                <option>Categories</option>
            </select>
        </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search-box">
                    <form method="get" action="#" id="searchbox-eleyas">
                        <p>
                            <input type="text" value="" placeholder="You keyword..." name="search_query">
                            <button class="button-search" name="submit_search" type="submit">
                                <span><i class="fa fa-search"></i></span>
                            </button>
                        </p>
                    </form>
                </div>
            </div>
            <!--<div class="col-md-1">
                <div class="megamenu">
                    <nav>
                        <ul>
                            <li>
                                <div class="user-icon">
                                    <i class="fa fa-user"></i>
                                    <div class="megamenudown-mini home-ve">
                                        <div class="mega-top">
                                            <div class="mega-item-menu">
                                                <a href="#"><span>My account</span></a>
                                                <a href="#"><span>My wishlist</span></a>
                                                <a href="#"><span>My cart</span></a>
                                                <a href="#"><span>Sign in</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>-->
                            @*<li>
                                    <div class="user-icon">
                                        <i class="fa fa-user"></i>

                                        <div class="megamenudown-mini home-ve">
                                            <div class="mega-top">
                                                <div class="mega-item-menu">
                                                    <ul>
                                                        <a href="#"><span>@itemC</span></a>
                                                        <li><a href="#">My account</a></li>
                                                        <li><a href="wishlists.html">My wishlist</a></li>
                                                        <li><a href="cart.html">My cart</a></li>
                                                        <li><a href="#">Sign in</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>*@

                        <!--</ul>
                    </nav>
                </div>

            </div>-->
        </div>
    </div>
</div>
