@model Shoppite.Application.Models.CartModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Favicon
       ============================================ -->
<link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
<!-- Fonts  -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- CSS  -->
<!-- Bootstrap CSS
============================================ -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<!-- owl.carousel CSS
============================================ -->
<link rel="stylesheet" href="~/css/owl.carousel.css">
<!-- nivo slider CSS
============================================ -->
<link rel="stylesheet" href="~/css/nivo-slider.css">
<!-- font-awesome.min CSS
============================================ -->
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- jquery.fancybox CSS
============================================ -->
<link rel="stylesheet" href="~/css/fancb/jquery.fancybox.css">
<!-- meanmenu.min CSS
============================================ -->
<link rel="stylesheet" href="~/css/meanmenu.min.css">
<!-- animate CSS
============================================ -->
<link rel="stylesheet" href="~/css/animate.css">
<!-- normalize CSS
============================================ -->
<link rel="stylesheet" href="~/css/normalize.css">
<!-- main CSS
============================================ -->
<link rel="stylesheet" href="~/css/main.css">
<!-- style CSS
============================================ -->
<link rel="stylesheet" href="~/style.css">
<!-- responsive CSS
============================================ -->
<link rel="stylesheet" href="~/css/responsive.css">
<style>
    .SaveBtn {
        background: #ff5b5a;
        color: #fff;
        border: none;
        display: block;
        height: 30px;
        /*line-height: 31px;*/
        margin-bottom: 20px;
        margin-left: 4px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 115px;
        border-radius: 10px;
    }
        .SaveBtn:hover {
            background: #363636;
            color: #fff;
        }
    .SavePaymentBtn {
        background: #fff;
        color: #fff;
        border: 1px solid lightgray;
        display: block;
        height: 30px;
        /*line-height: 31px;*/
        margin-bottom: 20px;
        margin-left: 4px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 115px;
        border-radius: 10px;
    }
        .SavePaymentBtn:hover {
            background: #eae1e1;
            color: #fff;
        }
    .makeover {
        width: 220px;
        border-radius: 40px;
    }
</style>
<div class="main-area">
    <!-- Start checkout page area -->
    <div class="checkout-page-area">
        <div class="container-fluid">
            <div class="breadcrumb">
                <a title="Return to Home" href="/" class="home" name="homelink">Home</a>
                <span class="navigation-pipe"><i class="fa fa-angle-right"></i></span>
                checkout
            </div>
            <!-- Start checkout content -->
            <div class="checkout-content-area">
                <h4 class="cart-title">CHECKOUT</h4>
                <div class="checkout-content">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 mb-5">
                            <form asp-action="MakePaymentRequest" id="myForm" asp-controller="Cart" enctype="multipart/form-data" method="post" class=" pt-2 text-capitalize">
                                <input type="hidden" asp-for="OrderBasicModel.OrderGuid" />

                                <div id="accordion" class="panel-group">
                                    <div class="panel datainputs sauget-accordion">

                                        <div id="headingOne" class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" id="Billing_Info" style="display:flex;">
                                                    <span style=" width: 29px; padding: 6px 17px 0px 11px; font-size: 15px; margin-right: 25px; }">1</span>  Billing Information
                                                </a>

                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse" style="">
                                            <div class="panel-body">
                                                <div class="content-info">
                                                    <div class="row ">
                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">First Name</label>
                                                                <input asp-for="OrderShippingModel.FirstName" name="OrderShippingModel.FirstName" id="FirstName" required="required" class="form-control"
                                                                       data-val="true" data-val-required="FirstName  is required" />
                                                                <span asp-validation-for="OrderShippingModel.FirstName" class="text-danger field-valiation-error"
                                                                      data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">Last Name</label>
                                                                <input asp-for="OrderShippingModel.LastName" name="OrderShippingModel.LastName" required="required" id="LastName" class="form-control" 
                                                                       data-val="true" data-val-required="LastName  is required" />
                                                                <span asp-validation-for="OrderShippingModel.LastName"  class="text-danger field-valiation-error"
                                                                      data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">Street</label>
                                                                <input asp-for="OrderShippingModel.Street" name="OrderShippingModel.Street" required="required" id="Street" class="form-control"
                                                                       data-val="true" data-val-required="Street  is required" />
                                                                <span asp-validation-for="OrderShippingModel.Street"  class="text-danger field-valiation-error"
                                                                      data-valmsg-for="Street" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">City</label>
                                                                <input asp-for="OrderShippingModel.City" name="OrderShippingModel.City" required="required" id="City" class="form-control"
                                                                       data-val="true" data-val-required="City name is required" />
                                                                <span asp-validation-for="OrderShippingModel.City"  class="text-danger field-valiation-error"
                                                                      data-valmsg-for="City" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">Phone Number</label>
                                                                <input asp-for="OrderShippingModel.Phone" name="OrderShippingModel.Phone" id="Phone" required="required" class="form-control"
                                                                       data-val="true" data-val-required="Phone Number is required" />
                                                                <span asp-validation-for="OrderShippingModel.Phone"  class="text-danger field-valiation-error"
                                                                      data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">Zipcode</label>
                                                                <input asp-for="OrderShippingModel.Zipcode" name="OrderShippingModel.Zipcode" required="required" id="Zipcode" class="form-control "
                                                                       data-val="true" data-val-required="Zipcode  is required" />
                                                                <span asp-validation-for="OrderShippingModel.Zipcode"  class="text-danger field-valiation-error"
                                                                      data-valmsg-for="Zipcode" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">Address</label>
                                                                <textarea asp-for="OrderShippingModel.Address" name="OrderShippingModel.Address" required="required" id="Address" class="form-control"
                                                                          data-val="true" data-val-required="Address is required"></textarea>
                                                                <span asp-validation-for="OrderShippingModel.Address"  class="text-danger field-valiation-error"
                                                                      data-valmsg-for="Address" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 mx-auto">
                                                            <div class="form-group m-1">
                                                                <label class="control-label">Email</label>
                                                                <input type="email" asp-for="OrderShippingModel.Email" name="OrderShippingModel.Email" required="required" id="Email" class="form-control input-validation-error"
                                                                       data-val="true" data-val-required="Email is required" />
                                                                <span asp-validation-for="OrderShippingModel.Email"  class="text-danger field-valiation-error"
                                                                      data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" asp-for="OrderShippingModel.FirstName" />
                                                        <input type="hidden" asp-for="OrderShippingModel.LastName" />
                                                        <input type="hidden" asp-for="OrderShippingModel.Street" />
                                                        <input type="hidden" asp-for="OrderShippingModel.City" />
                                                        <input type="hidden" asp-for="OrderShippingModel.Phone" />
                                                        <input type="hidden" asp-for="OrderShippingModel.Zipcode" />
                                                        <input type="hidden" asp-for="OrderShippingModel.Address" />
                                                        <input type="hidden" asp-for="OrderShippingModel.Email" />
                                                        <input type="hidden" asp-for="IsPaytm" />
                                                        <input type="hidden" asp-for="IsPaytmClicked" />

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <button type="button" style="width:auto;" id="Proceed_to_Next" class="SaveBtn" onclick="document.getElementById('Target').click()">Proceed to Next</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="panel paytmbtn  sauget-accordion mb-5">
                                    <div id="headingFour" class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle " id="Target" style="display:flex;">
                                                <span style=" width: 29px; padding: 6px 17px 0px 11px; font-size: 15px; margin-right: 25px; }">2</span> Payment Information
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="content-info">
                                                @if (Model.IsPaytm)
                                                {
                                                    <button style="width:auto;margin:15px;height:100%;" id="paytm-btn-click" class="SavePaymentBtn"><img src="~/images/Payment.gif" style="height:50px" alt="buttonpng" border="0" /></button>
                                                }
                                                <button id="cashondeliverybtn" style="width: auto; margin: 15px; height: 100%;" type="submit" class="SavePaymentBtn"><img src="~/images/cash-on-delivery-icon-14.jpg" style="height:50px" alt="buttonpng" border="0" /></button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                              
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="checkout-sidebar">
                                <h4>CHECKOUT PROGRESS</h4>
                                <ul>
                                    @*<li><a href="#">Billing Address</a></li>*@
                                    <li><a href="#" name="shipaddlink">Shipping Address</a></li>
                                    @*<li><a href="#">Shiping Method</a></li>*@
                                    <li><a href="#" name="paymentmethodlink">Payment Method</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End checkout content -->
                </div>
            </div>
            <!-- End checkout page area -->
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
    // Change styles according to panels state

    $('.panel').on('show.bs.collapse hide.bs.collapse', function () {

        $(this).toggleClass("paytmbtn datainputs");
       // $(this).find(".indicator").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
    })

    // Initialize collapsibles

    $('.collapse').collapse({
        toggle: false,
        parent: '#accordion'
    });

    // Bind panels behaviour to button

    var inputs = $("#myForm input[required='required']");

    $('#Billing_Info').click(function () {

        inputs.each(function () {

            if ($(this).val() == "") {

                var current = $(this).closest(".panel-collapse");

                if (current.hasClass("show")) {
                    current.removeClass("show");
                }
            }

        });
    });




    $('#cashondeliverybtn').click(function () {

        inputs.each(function () {

            if ($(this).val() == "") {

                var current = $(this).closest(".panel-collapse");

                if (!current.hasClass("in")) {
                    current.collapse("show");
                }
                
                return false;
            }

        });
    });

    $("#paytm-btn-click").click(function () {
        inputs.each(function () {

            if ($(this).val() == "") {

                var current = $(this).closest(".panel-collapse");

                if (!current.hasClass("in")) {
                    current.collapse("show");
                }

                return false;
            }
        });
        $("#IsPaytmClicked").val('true');
        $("form").submit();
    })
</script>
