@model Shoppite.Application.Models.CartModel
@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Favicon
       ============================================ -->
<link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
<!-- Fonts  -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- CSS  -->
<!-- Bootstrap CSS
============================================ -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<!-- owl.carousel CSS
============================================ -->
<link rel="stylesheet" href="~/css/owl.carousel.css">
<!-- nivo slider CSS
============================================ -->
<link rel="stylesheet" href="~/css/nivo-slider.css">
<!-- font-awesome.min CSS
============================================ -->
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- jquery.fancybox CSS
============================================ -->
<link rel="stylesheet" href="~/css/fancb/jquery.fancybox.css">
<!-- meanmenu.min CSS
============================================ -->
<link rel="stylesheet" href="~/css/meanmenu.min.css">
<!-- animate CSS
============================================ -->
<link rel="stylesheet" href="~/css/animate.css">
<!-- normalize CSS
============================================ -->
<link rel="stylesheet" href="~/css/normalize.css">
<!-- main CSS
============================================ -->
<link rel="stylesheet" href="~/css/main.css">
<!-- style CSS
============================================ -->
<link rel="stylesheet" href="~/style.css">
<!-- responsive CSS
============================================ -->
<link rel="stylesheet" href="~/css/responsive.css">
<style>
    .SaveBtn {
        background: #ff5b5a;
        color: #fff;
        border: none;
        display: block;
        height: 30px;
        /*line-height: 31px;*/
        margin-bottom: 20px;
        margin-left: 4px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 115px;
        border-radius: 10px;
    }
        .SaveBtn:hover {
            background: #363636;
            color: #fff;
        }
    .SavePaymentBtn {
        background: #fff;
        color: #fff;
        border: 1px solid lightgray;
        display: block;
        height: 30px;
        /*line-height: 31px;*/
        margin-bottom: 20px;
        margin-left: 4px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 115px;
        border-radius: 10px;
    }
        .SavePaymentBtn:hover {
            background: #eae1e1;
            color: #fff;
        }
    .makeover {
        width: 220px;
        border-radius: 40px;
    }
</style>
<div class="main-area">
    <!-- Start checkout page area -->
    <div class="checkout-page-area">
        <div class="container-fluid">
            <div class="breadcrumb">
                <a title="Return to Home" href="/" class="home" name="homelink">Home</a>
                <span class="navigation-pipe"><i class="fa fa-angle-right"></i></span>
                checkout
            </div>
            <!-- Start checkout content -->
            <div class="checkout-content-area">
                <h4 class="cart-title">CHECKOUT</h4>
                <div class="checkout-content">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 mb-5">
                            <form asp-action="MakePaymentRequest" asp-controller="Cart" enctype="multipart/form-data" method="post" class=" pt-2 text-capitalize">
                                <input type="hidden" asp-for="OrderBasicModel.OrderGuid" />
                                <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                                    <div class="panel sauget-accordion">
                                        <div id="headingOne" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a aria-controls="checkoutMethod" aria-expanded="true" href="#checkoutMethod" data-bs-toggle="collapse" name="billinfolink" class="collapse" style="display:flex;">
                                                    <span style=" width: 29px; padding: 6px 17px 0px 11px; font-size: 15px; margin-right: 25px; }">1</span>  Billing Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div aria-labelledby="headingOne" data-bs-parent="#accordion" role="tabpanel" class="panel-collapse collapse show" id="checkoutMethod" aria-expanded="true" style="">
                                            <div class="content-info">
                                                <div class="row ">
                                                    <div class="col-md-4 offset-md-9 mb-0">
                                                        <button type="button" class="btn btn-default add-tag-btn SaveBtn mb-0 mt-2" name="editbtn" onclick="toggleEnable('IpF1','IpF2','IpF3','IpF4','IpF5','IpF6','IpF7','IpF8')">
                                                            Edit
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">First Name</label>
                                                            <input asp-for="OrderShippingModel.FirstName" id="IpF1" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Shop name is required" />
                                                            <span asp-validation-for="OrderShippingModel.FirstName" id="ShopName" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="ShopName" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Last Name</label>
                                                            <input asp-for="OrderShippingModel.LastName" id="IpF2" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Contact number is required" />
                                                            <span asp-validation-for="OrderShippingModel.LastName" id="ContactNumber" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="ContactNumber" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Street</label>
                                                            <input asp-for="OrderShippingModel.Street" id="IpF3" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Country name is required" />
                                                            <span asp-validation-for="OrderShippingModel.Street" id="Country" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="Country" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">City</label>
                                                            <input asp-for="OrderShippingModel.City" id="IpF4" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="City name is required" />
                                                            <span asp-validation-for="OrderShippingModel.City" id="City" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="City" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Phone Number</label>
                                                            <input asp-for="OrderShippingModel.Phone" id="IpF5" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Zip code is required" />
                                                            <span asp-validation-for="OrderShippingModel.Phone" id="Zip" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="Zip" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Zipcode</label>
                                                            <input asp-for="OrderShippingModel.Zipcode" id="IpF6" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="state name is required" />
                                                            <span asp-validation-for="OrderShippingModel.Zipcode" id="State" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="State" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Address</label>
                                                            <textarea asp-for="OrderShippingModel.Address" id="IpF7" class="form-control input-validation-error IpF"
                                                                      data-val="true" data-val-required="Address is required"></textarea>
                                                            <span asp-validation-for="OrderShippingModel.Address" id="State" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="Address" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Email</label>
                                                            <input asp-for="OrderShippingModel.Email" id="IpF8" class="form-control input-validation-error"
                                                                   data-val="true" data-val-required="PaypalId is required" />
                                                            <span asp-validation-for="OrderShippingModel.Email" id="PaypalId" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="PaypalId" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" asp-for="OrderShippingModel.FirstName" />
                                                    <input type="hidden" asp-for="OrderShippingModel.LastName" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Street" />
                                                    <input type="hidden" asp-for="OrderShippingModel.City" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Phone" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Zipcode" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Address" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Email" />
                                                    <input type="hidden" asp-for="IsPaytm" />
                                                    <input type="hidden" asp-for="IsPaytmClicked" />
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <button type="button" style="width:auto;" id="Proceed_to_Next" class="SaveBtn" onclick="document.getElementById('Target').click()" name="proceedtonextbtn">Proceed to Next</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel sauget-accordion mb-5">
                                        <div id="headingFour" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a aria-controls="paymentInformation" aria-expanded="false" id="Target" href="#paymentInformation" data-bs-toggle="collapse" class="collapsed" style="display:flex;" name="paymentinfolink">
                                                    <span style=" width: 29px; padding: 6px 17px 0px 11px; font-size: 15px; margin-right: 25px; }" >2</span> Payment Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div aria-labelledby="headingFour" data-bs-parent="#accordion" role="tabpanel" class="panel-collapse collapse" id="paymentInformation" aria-expanded="false">
                                            <div class="content-info" >
                                                <div id="accordion1" class="panel-group" style="display:flex">
                                                    @if (Model.IsPaytm)
                                                    {
                                                    <button style="width:auto;margin:15px;height:100%;" id="paytm-btn-click" class="SavePaymentBtn" name="paymentbtn"><img src="~/images/Payment.gif" loading="lazy" style="height:50px" alt="paymentbuttonpng" border="0" /></button>
                                                    }
                                                    <button style="width: auto; margin: 15px; height: 100%;" type="submit" class="SavePaymentBtn" name="codbtn"><img src="~/images/cash-on-delivery-icon-14.jpg" loading="lazy" style="height:50px" alt="paymentbuttonpng" border="0" /></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="checkout-sidebar">
                                <h4>CHECKOUT PROGRESS</h4>
                                <ul>
                                    @*<li><a href="#">Billing Address</a></li>*@
                                    <li><a href="#" name="shipaddlink">Sipping Address</a></li>
                                    @*<li><a href="#">Shiping Method</a></li>*@
                                    <li><a href="#" name="paymentmethodlink">Payment Method</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End checkout content -->
                </div>
            </div>
            <!-- End checkout page area -->
        </div>
    </div>
</div>
@section scripts {
<script>
    document.getElementById("IpF1").disabled = true;
    document.getElementById("IpF2").disabled = true;
    document.getElementById("IpF3").disabled = true;
    document.getElementById("IpF4").disabled = true;
    document.getElementById("IpF5").disabled = true;
    document.getElementById("IpF6").disabled = true;
    document.getElementById("IpF7").disabled = true;
    document.getElementById("IpF8").disabled = true;
    function toggleEnable(el1, el2, el3, el4, el5, el6, el7, el8) {
        var textbox = document.getElementById(el1, el2, el3, el4, el5, el6, el7, el8);
        if (textbox.disabled) {
            document.getElementById("IpF1").disabled = false;
            document.getElementById("IpF2").disabled = false;
            document.getElementById("IpF3").disabled = false;
            document.getElementById("IpF4").disabled = false;
            document.getElementById("IpF5").disabled = false;
            document.getElementById("IpF6").disabled = false;
            document.getElementById("IpF7").disabled = false;
            document.getElementById("IpF8").disabled = false;
            // document.getElementById(el2).disabled = false;
        }
        else {
            // Enter code here
            document.getElementById("IpF1").disabled = true;
            document.getElementById("IpF2").disabled = true;
            document.getElementById("IpF3").disabled = true;
            document.getElementById("IpF4").disabled = true;
            document.getElementById("IpF5").disabled = true;
            document.getElementById("IpF6").disabled = true;
            document.getElementById("IpF7").disabled = true;
            document.getElementById("IpF8").disabled = true;
            // document.getElementById(el2).disabled = true;
        }
    }
    $("#paytm-btn-click").click(function () {
        $("#IsPaytmClicked").val('true');
        $("form").submit();
    })
</script>
}