@model Shoppite.Application.Models.CartModel
@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-area">

    <!-- Start checkout page area -->
    <div class="checkout-page-area">
        <div class="container">
            <div class="breadcrumb" style="background-color:white;">
                <a title="Return to Home" href="/" class="home" style="text-decoration: none; color: #363636;">Home</a>
                <span class="navigation-pipe"><i class="fa fa-angle-right" style="color:black;"></i></span>
                checkout
            </div>
            <!-- Start checkout content -->
            <div class="checkout-content-area">
                <h4 class="cart-title">CHECKOUT</h4>
                <div class="checkout-content">
                    <div class="row">
                        <div class="col-md-9 mb-5">
                            <form asp-action="MakePaymentRequest" asp-controller="Cart" enctype="multipart/form-data" method="post" class=" pt-2 text-capitalize">
                                <input type="hidden" asp-for="OrderBasicModel.OrderGuid" />

                                <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                                    <div class="panel sauget-accordion">
                                        <div id="headingOne" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a aria-controls="checkoutMethod" aria-expanded="true" href="#checkoutMethod" data-bs-toggle="collapse" class="">
                                                    <span>1</span>  Billing Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div aria-labelledby="headingOne" data-bs-parent="#accordion" role="tabpanel" class="panel-collapse collapse show" id="checkoutMethod" aria-expanded="true" style="">
                                            <div class="content-info">
                                                <div class="row ">

                                                    <div class="col-md-4 offset-md-10 mb-0">
                                                        <button type="button" class="btn btn-default add-tag-btn SaveBtn mb-0" onclick="toggleEnable('IpF1','IpF2','IpF3','IpF4','IpF5','IpF6','IpF7','IpF8')">
                                                            Edit
                                                        </button>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">First Name</label>
                                                            <input asp-for="OrderShippingModel.FirstName" id="IpF1" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Shop name is required" />
                                                            <span asp-validation-for="OrderShippingModel.FirstName" id="ShopName" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="ShopName" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Last Name</label>
                                                            <input asp-for="OrderShippingModel.LastName" id="IpF2" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Contact number is required" />
                                                            <span asp-validation-for="OrderShippingModel.LastName" id="ContactNumber" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="ContactNumber" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Street</label>
                                                            <input asp-for="OrderShippingModel.Street" id="IpF3" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Country name is required" />
                                                            <span asp-validation-for="OrderShippingModel.Street" id="Country" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="Country" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">City</label>
                                                            <input asp-for="OrderShippingModel.City" id="IpF4" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="City name is required" />
                                                            <span asp-validation-for="OrderShippingModel.City" id="City" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="City" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Phone Number</label>
                                                            <input asp-for="OrderShippingModel.Phone" id="IpF5" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="Zip code is required" />
                                                            <span asp-validation-for="OrderShippingModel.Phone" id="Zip" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="Zip" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Zipcode</label>
                                                            <input asp-for="OrderShippingModel.Zipcode" id="IpF6" class="form-control input-validation-error IpF"
                                                                   data-val="true" data-val-required="state name is required" />
                                                            <span asp-validation-for="OrderShippingModel.Zipcode" id="State" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="State" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Address</label>
                                                            <textarea asp-for="OrderShippingModel.Address" id="IpF7" class="form-control input-validation-error IpF"
                                                                      data-val="true" data-val-required="Address is required"></textarea>
                                                            <span asp-validation-for="OrderShippingModel.Address" id="State" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="Address" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 mx-auto">
                                                        <div class="form-group m-1">
                                                            <label class="control-label">Email</label>
                                                            <input asp-for="OrderShippingModel.Email" id="IpF8" class="form-control input-validation-error"
                                                                   data-val="true" data-val-required="PaypalId is required" />
                                                            <span asp-validation-for="OrderShippingModel.Email" id="PaypalId" class="text-danger field-valiation-error"
                                                                  data-valmsg-for="PaypalId" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" asp-for="OrderShippingModel.FirstName" />
                                                    <input type="hidden" asp-for="OrderShippingModel.LastName" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Street" />
                                                    <input type="hidden" asp-for="OrderShippingModel.City" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Phone" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Zipcode" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Address" />
                                                    <input type="hidden" asp-for="OrderShippingModel.Email" />
                                                    <input type="hidden" asp-for="IsPaytm" />

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <button type="button" style="width:auto;" id="Proceed_to_Next" class="SaveBtn" onclick="document.getElementById('Target').click()">Proceed to Next</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel sauget-accordion">
                                        <div id="headingFour" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a aria-controls="paymentInformation" aria-expanded="false" id="Target" href="#paymentInformation" data-bs-toggle="collapse" class="collapsed">
                                                    <span>2</span> Payment Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div aria-labelledby="headingFour" data-bs-parent="#accordion" role="tabpanel" class="panel-collapse collapse" id="paymentInformation" aria-expanded="false">

                                            <div class="content-info" style="padding-left: 54px;">

                                                <div aria-multiselectable="true" role="tablist" id="accordion1" class="panel-group">
                                                    <div class="panel sauget-accordion SubPanel pt-2 d-none">
                                                        <div id="headingFive1" role="tab" class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a aria-controls="orderReview1" aria-expanded="false" href="#orderReview1" data-bs-toggle="collapse" class="makeover collapsed">
                                                                    <img style="height: auto; width: auto;" src="~/img/icons8-bank-cards-30.png" /> card details
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div aria-labelledby="headingFive1" data-bs-parent="#accordion1" role="tabpanel" class="panel-collapse collapse" id="orderReview1" aria-expanded="false">
                                                            <div class="content-info">
                                                                <div class="checkout-option">
                                                                    <div class="master-card-info">
                                                                        <div class="row">

                                                                            <div class="col-sm-6 mx-auto">
                                                                                <div class="form-group">
                                                                                    <label>Name on Card <sup>*</sup></label>
                                                                                    <input type="text" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 mx-auto">
                                                                                <div class="cardtype form-group">
                                                                                    <label>Credit Card Type</label>
                                                                                    <select class="form-control">
                                                                                        <option>--Please Select--</option>
                                                                                        <option>American Express</option>
                                                                                        <option>Visa</option>
                                                                                        <option>MasterCard</option>
                                                                                        <option>Discover</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 mx-auto">
                                                                                <div class="form-group">
                                                                                    <label>Credit Card Number <sup>*</sup></label>
                                                                                    <input type="text" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 mx-auto">
                                                                                <div class="expirationdate form-group">
                                                                                    <label>Expiration Date</label>
                                                                                    <div class="d-flex g-4">
                                                                                        <select class="form-control month-select w-50">
                                                                                            <option>Month</option>
                                                                                            <option>01 - January</option>
                                                                                            <option>02 - February</option>
                                                                                            <option>03 - March</option>
                                                                                            <option>04 - April</option>
                                                                                            <option>05 - May</option>
                                                                                            <option>06 - June</option>
                                                                                            <option>07 - July</option>
                                                                                            <option>08 - August</option>
                                                                                            <option>09 - September</option>
                                                                                            <option>10 - October</option>
                                                                                            <option>11 - November</option>
                                                                                            <option>12 - December</option>
                                                                                        </select> &nbsp; &nbsp;
                                                                                        <select class="form-control year-select w-50">
                                                                                            <option>Year</option>
                                                                                            <option>2015</option>
                                                                                            <option>2016</option>
                                                                                            <option>2017</option>
                                                                                            <option>2018</option>
                                                                                            <option>2019</option>
                                                                                            <option>2020</option>
                                                                                            <option>2021</option>
                                                                                            <option>2022</option>
                                                                                            <option>2023</option>
                                                                                            <option>2024</option>
                                                                                            <option>2025</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 mx-auto">
                                                                                <div class="verificationcard form-group">
                                                                                    <label>Card Verification Number <sup>*</sup></label>
                                                                                    <input type="text" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6"></div>

                                                                            <div class="block-area-button">
                                                                                <button class="btn btn-default add-tag-btn SaveBtn">Continue</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel sauget-accordion SubPanel">
                                                        <div id="headingFive2" role="tab" class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a aria-controls="orderReview2" aria-expanded="false" href="#orderReview2" data-bs-toggle="collapse" class="makeover collapsed">
                                                                    <img style="height: 21px; width: 35px;" src="~/img/UPI_logo_PNG_lyp5s5.png" /> Pay With PAYTM
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div aria-labelledby="headingFive2" data-bs-parent="#accordion1" role="tabpanel" class="panel-collapse collapse" id="orderReview2" aria-expanded="false">
                                                            <div class="content-info">
                                                                <div class="page-product-box" id="idTab2">
                                                                    <div class="row">
                                                                        <div class="col-sm-7">
                                                                            <div class="form-group">
                                                                                <div class="block-area-button">
                                                                                    <button style="width:auto;" id="paytm-btn-click" class="SaveBtn">Paytm</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel sauget-accordion SubPanel">
                                                        <div id="headingFive3" role="tab" class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a aria-controls="orderReview3" aria-expanded="false" href="#orderReview3" data-bs-toggle="collapse" class="makeover collapsed">
                                                                    <img style="height: 30px; width:auto;" src="~/img/icons8-cash-on-delivery-96.png" /> Cash On Delivery
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div aria-labelledby="headingFive3" data-bs-parent="#accordion1" role="tabpanel" class="panel-collapse collapse" id="orderReview3" aria-expanded="false">
                                                            <div class="content-info">
                                                                @*<a href="/Cart/OrderSuccess?orderid=@Model.OrderBasicModel.OrderGuid" class=" mt-2 btn SaveBtn" style="width: 160px;">Cash on Delivery</a>*@
                                                                <button id="rewardclick" style="width:auto;" type="submit" class="SaveBtn">Cash on Delivery</button>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>                       
                    </div>
                    <!-- End checkout content -->
                </div>
            </div>
            <!-- End checkout page area -->
        </div>
    </div>
</div>
@section scripts {
<script>

    document.getElementById("IpF1").disabled = true;
    document.getElementById("IpF2").disabled = true;
    document.getElementById("IpF3").disabled = true;
    document.getElementById("IpF4").disabled = true;
    document.getElementById("IpF5").disabled = true;
    document.getElementById("IpF6").disabled = true;
    document.getElementById("IpF7").disabled = true;
    document.getElementById("IpF8").disabled = true;

    function toggleEnable(el1, el2, el3, el4, el5, el6, el7, el8) {
        var textbox = document.getElementById(el1, el2, el3, el4, el5, el6, el7, el8);

        if (textbox.disabled) {
            // If disabled, do this
            document.getElementById("IpF1").disabled = false;
            document.getElementById("IpF2").disabled = false;
            document.getElementById("IpF3").disabled = false;
            document.getElementById("IpF4").disabled = false;
            document.getElementById("IpF5").disabled = false;
            document.getElementById("IpF6").disabled = false;
            document.getElementById("IpF7").disabled = false;
            document.getElementById("IpF8").disabled = false;
            // document.getElementById(el2).disabled = false;
        }
        else {
            // Enter code here
            document.getElementById("IpF1").disabled = true;
            document.getElementById("IpF2").disabled = true;
            document.getElementById("IpF3").disabled = true;
            document.getElementById("IpF4").disabled = true;
            document.getElementById("IpF5").disabled = true;
            document.getElementById("IpF6").disabled = true;
            document.getElementById("IpF7").disabled = true;
            document.getElementById("IpF8").disabled = true;
            // document.getElementById(el2).disabled = true;
        }
    }
    //function ProceedtoNext() {
    //    $('#Target').click();
    //}

    $("#paytm-btn-click").click(function () {
        $("#IsPaytm").val('true');
        $("form").submit();
    })
</script>
}
