<!DOCTYPE html>
<html>
<body>
    <form method="post" id="paymentForm" action="https://pa-preprod.1pay.in/payment/payprocessorV2">
        <input name="merchantId" id="merchantId" value="">
        <input name="reqData" id="reqData"
               value="">
        <input type="submit" value="Pay Now">
    </form>
    <script>
        $(document).ready(function () {
            $("form#paymentForm").submit();
        })
    </script>
</body>

</html>