@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .successimg {
        max-width: 100%;
        max-height: 500px;
    }
</style>
<body>
    <div class="container-fluid" style="overflow: hidden;">
        <div class="backimg" style="text-align: center; margin: 15px 0px 15px 0px;">
            <img src="~/images/Blue Modern Business Blog Banner (4).gif" loading="lazy" alt="ordersuccessimg" class="successimg">
        </div>
    </div>
</body>
