@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .successimg {
        max-width: 100%;
        max-height: 500px;
    }
</style>
<body>
    <div class="container-fluid" style="overflow: hidden;">
        <div class="backimg" style="text-align: center; margin: 15px 0px 15px 0px;">
            <img loading="lazy" src="~/images/Payment_Fail.gif" alt="paymentfailimg" class="successimg">
        </div>
    </div>
</body>
