<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\admin\Downloads\12.css">
</head>
<body>
    <div class="title">
        <!-- <svg viewBox="0 0 640 512" title="robot">
            <path fill="currentColor"
                d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
        </svg> -->
        <img src="../Downloads/icon (1).png" loading="lazy" alt="Shooppy" height="100" width="100" />
        <h3>Chat with Shooppy</h3>
        <div>
            <div id="chatbot" class="main-card collapsed">
                <button id="chatbot_toggle" name="chatbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                         style="display:none">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                    </svg>
                </button>
                <div class="main-title">
                    <div>
                        <!-- <svg viewBox="0 0 640 512" title="robot">
                            <path fill="currentColor"
                                d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
                        </svg> -->
                        <img src="../Downloads/icon (1).png" loading="lazy" alt="Shooppy" height="35" width="35"
                             style="margin: auto;" />
                    </div>
                    <span>Chat with Shooppy...</span>
                </div>
                <div class="chat-area" id="message-box">
                </div>
                <div class="line"></div>
                <div class="input-div">
                    <input class="input-message" name="message" type="text" id="message"
                           placeholder="Type your message ..." />
                    <button class="input-send" onclick="send()" name="sendbtn">
                        <svg style="width:24px;height:24px">
                            <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
            var running = false;
            var msg;
            nowtime = new Date();
            nowhoue = nowtime.getHours();
            function send() {
                if (running == true) return;
                msg = document.getElementById("message").value;
                if (msg == "") return;
                running = true;
                addMsg(msg);
                var val = msg;
                var name = '';
                if (msg == "Welcome, What is your name ?") {
                    window.setTimeout(addResponseMsg, 1000, msg);
                    return;
                }
                else if (msg == "shopping" || msg == "order" || msg == "account" || msg == "message vendor") {
                    if (msg == "shopping") {
                        window.setTimeout(addResponseMsg, 1000, "To jaa bhai jai ne kari le shopping, mane su leva k che !");
                        document.getElementById("message").setAttribute("disabled","disabled");
                    } else if (msg == "order") {
                        window.setTimeout(addResponseMsg, 1000, "mane nai khabar tara order !");
                        document.getElementById("message").setAttribute("disabled","disabled");
                    } else if (msg == "account") {
                        window.setTimeout(addResponseMsg, 1000, "Bhai reva de ne su karva heran kare che!!");
                        document.getElementById("message").setAttribute("disabled","disabled");
                    } else if (msg == "message vendor") {
                        window.setTimeout(addResponseMsg, 1000, "vendor navro nathi tara vade!");
                    } else {
                        window.setTimeout(addResponseMsg, 1000, "sorry i'm not able to understand what do you want to say");
                    }
                }
                else if (val.indexOf("my name is ") > -1 || val.indexOf("i am ") > -1 || val.indexOf("i'm ") > -1 || val.split(" ").length < 2) {
                    if (val.indexOf("my name is ") > -1) {
                        msg = msg.replace("my name is ", "");
                        if (nowhoue >= 12 && nowhoue <= 16) {
                            window.setTimeout(addResponseMsg, 1000, 'good afternoon' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else if (nowhoue >= 10 && nowhoue <= 12) {
                            window.setTimeout(addResponseMsg, 1000, 'hi' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else if (nowhoue >= 0 && nowhoue <= 10) {
                            window.setTimeout(addResponseMsg, 1000, 'good morning' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else {
                            window.setTimeout(addResponseMsg, 1000, 'good evening' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        }
                    } else if (val.indexOf("i am ") > -1) {
                        msg = msg.replace("i am ", "");
                        if (nowhoue >= 12 && nowhoue <= 16) {
                            window.setTimeout(addResponseMsg, 1000, 'good afternoon' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else if (nowhoue >= 10 && nowhoue <= 12) {
                            window.setTimeout(addResponseMsg, 1000, 'hi' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else if (nowhoue >= 0 && nowhoue <= 10) {
                            window.setTimeout(addResponseMsg, 1000, 'good morning' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else {
                            window.setTimeout(addResponseMsg, 1000, 'good evening' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        }
                    } else if (val.indexOf("i'm ") > -1) {
                        msg = msg.replace("i'm ", "");
                        if (nowhoue >= 12 && nowhoue <= 16) {
                            window.setTimeout(addResponseMsg, 1000, 'good afternoon' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else if (nowhoue >= 10 && nowhoue <= 12) {
                            window.setTimeout(addResponseMsg, 1000, 'hi' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else if (nowhoue >= 0 && nowhoue <= 10) {
                            window.setTimeout(addResponseMsg, 1000, 'good morning' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        } else {
                            window.setTimeout(addResponseMsg, 1000, 'good evening' + ", " + msg);
                            window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                            window.setTimeout(addResponseMsgopt, 1200, msg);
                            return;
                        }
                    }
                    if (nowhoue >= 12 && nowhoue <= 16) {
                        window.setTimeout(addResponseMsg, 1000, 'good afternoon' + ", " + msg);
                        window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                        window.setTimeout(addResponseMsgopt, 1200, msg);
                        return;
                    } else if (nowhoue >= 10 && nowhoue <= 12) {
                        window.setTimeout(addResponseMsg, 1000, 'hi' + ", " + msg);
                        window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                        window.setTimeout(addResponseMsgopt, 1200, msg);
                        return;
                    } else if (nowhoue >= 0 && nowhoue <= 10) {
                        window.setTimeout(addResponseMsg, 1000, 'good morning' + ", " + msg);
                        window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                        window.setTimeout(addResponseMsgopt, 1200, msg);
                        return;
                    } else {
                        window.setTimeout(addResponseMsg, 1000, 'good evening' + ", " + msg);
                        window.setTimeout(addResponseMsg, 1100, 'how can i help you?');
                        window.setTimeout(addResponseMsgopt, 1200, msg);
                        return;
                    }
                    window.setTimeout(addResponseMsg, 1000, msg);
                    return;
                }
                else {
                    window.setTimeout(addResponseMsg, 1000, "sorry i'm not able to understand what do you want to say");
                }
            }
            function addMsg(msg) {
                var div = document.createElement("div");
                div.innerHTML =
                    "<span style='flex-grow:1'></span><div class='chat-message-sent'>" +
                    msg +
                    "</div>";
                div.className = "chat-message-div";
                document.getElementById("message-box").appendChild(div);
                //SEND MESSAGE TO API
                document.getElementById("message").value = "";
                document.getElementById("message-box").scrollTop = document.getElementById(
                    "message-box"
                ).scrollHeight;
            }
            function addResponseMsg(msg) {
                var div = document.createElement("div");
                div.innerHTML = "<div class='chat-message-received'>" + msg + "</div>";
                div.className = "chat-message-div";
                document.getElementById("message-box").appendChild(div);
                document.getElementById("message-box").scrollTop = document.getElementById(
                    "message-box"
                ).scrollHeight;
                running = false;
            }
            function addResponseMsgopt(msg) {
                var div = document.createElement("div");
                div.innerHTML = "<div class='chat-message-received' style='margin: 8px -12px 8px 16px;'>shopping</div><div class='chat-message-received' style='margin: 8px -12px 8px 16px;'>order</div>";
                div.className = "chat-message-div";
                document.getElementById("message-box").appendChild(div);
                document.getElementById("message-box").scrollTop = document.getElementById(
                    "message-box"
                ).scrollHeight;
                var div1 = document.createElement("div");
                div1.innerHTML = "<div class='chat-message-received' style='margin: 8px -12px 8px 16px;'>account</div><div class='chat-message-received' style='margin: 8px -12px 8px 16px;'>message vendor</div>";
                div1.className = "chat-message-div";
                document.getElementById("message-box").appendChild(div1);
                document.getElementById("message-box").scrollTop = document.getElementById(
                    "message-box"
                ).scrollHeight;
            }
            document.getElementById("message").addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    send();
                }
            });
            function saybye() {
                if (nowhoue <= 10) {
                    appendMsg(" have nice day! :)");
                } else if (nowhoue >= 11 || nowhoue <= 20) {
                    appendMsg(" bye!");
                } else {
                    appendMsg(" good night!");
                }
            }
            document.getElementById("chatbot_toggle").onclick = function () {
                if (document.getElementById("chatbot").classList.contains("collapsed")) {
                    document.getElementById("chatbot").classList.remove("collapsed")
                    document.getElementById("chatbot_toggle").children[0].style.display = "none"
                    document.getElementById("chatbot_toggle").children[1].style.display = ""
                    setTimeout(addResponseMsg, 1000, "Welcome, What is your name ?")
                }
                else {
                    document.getElementById("chatbot").classList.add("collapsed")
                    document.getElementById("chatbot_toggle").children[0].style.display = ""
                    document.getElementById("chatbot_toggle").children[1].style.display = "none"
                }
            }
    </script>
</body>
</html>
