@model Shoppite.Application.Models.CartModel
<div class="service-icon-text col-half-offset  service-text-icon-active col-lg-2 col-md-2 col-2">

    @if (User.Identity.IsAuthenticated)
    {

        <a asp-action="Cart" asp-controller="Cart" class="d-flex">
            <div class="service-icon floatleft">
                <i class="fa fa-shopping-cart HeadCart"></i>
            </div>
            <div class="service-text floatright d-none d-sm-none d-md-block pl-2">
                <h3>Cart</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>@Model.F_Getproduct_CartDetails_By_Orgids.Count item</p>
                }
                else
                {
                    <p>Please login</p>
                }
            </div>
        </a>      
    }
    else
    {

        <a asp-action="Login" asp-controller="Authentications" class="d-flex">
            <div class="service-icon floatleft">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="service-text floatright d-none d-sm-none d-md-block pl-2">
                <h3>Cart</h3>
                <p>Please login</p>
            </div>
        </a>
    }
</div>

